In [87]:
import pandas as pd

In [88]:
import numpy as np

In [89]:
df = pd.read_csv('../../data/datasets/dataset_1_3.csv', sep=';', encoding='utf-8-sig', low_memory=False)

In [90]:
df.head()

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Наименование олимпиады,Тип олимпиады,Категория конкурса БВИ,UUID оценки,...,Город законченного уч. зав.,Тип законченного уч. зав.,Название законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Квалификация зак.уч.зав.,Специальность зак.уч.зав.,Льготы,Документы подтв. льготы,Наименование дисциплины + семестр
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p0ojcks1r0brulk,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Проектный практикум 1_2
1,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p9a199s0tmd01fs,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Архитектура ЭВМ_3
2,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p9a1uimadbqc25o,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Анализ данных и искусственный интеллект_3
3,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p91r12floo1c7uc,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Прикладная физическая культура_3
4,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000oqc4snbpauvougo,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Прикладная физическая культура_1

In [91]:
df_1_sem = df[df["Сквозной семестр"] < 3]
df_1_sem = df_1_sem[df_1_sem["Год начала обучения"] == 2023]

In [92]:
df_1_sem.head()

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Наименование олимпиады,Тип олимпиады,Категория конкурса БВИ,UUID оценки,...,Город законченного уч. зав.,Тип законченного уч. зав.,Название законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Квалификация зак.уч.зав.,Специальность зак.уч.зав.,Льготы,Документы подтв. льготы,Наименование дисциплины + семестр
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p0ojcks1r0brulk,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Проектный практикум 1_2
4,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000oqc4snbpauvougo,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Прикладная физическая культура_1
6,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000oqib6f365d55omc,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Математика_1
7,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p0okbqkb7dg8u54,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Философия_2
8,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000os603jlf5koit64,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Математика_1

In [93]:
df_1_sem['Балл за инд. достижения'] = df_1_sem['Балл за инд. достижения'].fillna(0)

In [94]:
df_1_sem.isna().sum()

UUID студента                            0
Приоритет                                0
Cумма баллов испытаний                   0
БВИ                                      0
Балл за инд. достижения                  0
                                     ...
Квалификация зак.уч.зав.             36866
Специальность зак.уч.зав.            34742
Льготы                               44808
Документы подтв. льготы              44998
Наименование дисциплины + семестр        0
Length: 67, dtype: int64

In [95]:
df_1_sem["Новый таргет"] = df_1_sem["Состояние студента"]

In [96]:
df_1_sem.head()

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Наименование олимпиады,Тип олимпиады,Категория конкурса БВИ,UUID оценки,...,Тип законченного уч. зав.,Название законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Квалификация зак.уч.зав.,Специальность зак.уч.зав.,Льготы,Документы подтв. льготы,Наименование дисциплины + семестр,Новый таргет
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0.0,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p0ojcks1r0brulk,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Проектный практикум 1_2,Активный
4,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0.0,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000oqc4snbpauvougo,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Прикладная физическая культура_1,Активный
6,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0.0,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000oqib6f365d55omc,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Математика_1,Активный
7,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0.0,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p0okbqkb7dg8u54,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Философия_2,Активный
8,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0.0,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000os603jlf5koit64,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Математика_1,Активный

In [97]:
# Сначала создаём маску с правильными условиями
mask = (
    ((df_1_sem["Курс"] != 1) & 
    (df_1_sem["Состояние студента"] != "Активный")) |
    ((df_1_sem["Сквозной семестр"] != 1) & 
    (df_1_sem["Состояние студента"] != "Активный"))
)

# Затем обновляем значения для строк, соответствующих маске
df_1_sem.loc[mask, "Новый таргет"] = "Активный"

In [98]:
df_1_sem["Новый таргет"].head()

0    Активный
4    Активный
6    Активный
7    Активный
8    Активный
Name: Новый таргет, dtype: object

In [99]:
# Выбираем строки, где "Состояние студента" != "новый таргет"
changed_rows = df_1_sem[df_1_sem["Состояние студента"] != df_1_sem["Новый таргет"]]

# Выводим результат (можно добавить фильтр по нужным столбцам)
changed_rows[["UUID студента", "Состояние студента", "Новый таргет", "Курс", "Сквозной семестр"]]

,UUID студента,Состояние студента,Новый таргет,Курс,Сквозной семестр
368,studen195e3pg0000ok202gfub3pbmj4,Отчислен,Активный,1,2
373,studen195e3pg0000ok202gfub3pbmj4,Отчислен,Активный,1,2
374,studen195e3pg0000ok202gfub3pbmj4,Отчислен,Активный,1,2
376,studen195e3pg0000ok202gfub3pbmj4,Отчислен,Активный,1,2
377,studen195e3pg0000ok202gfub3pbmj4,Отчислен,Активный,1,2
...,...,...,...,...,...
61271,studen195e3pg0000ok208bl08bh35t4,Отчислен,Активный,1,2
61272,studen195e3pg0000ok208bl08bh35t4,Отчислен,Активный,1,2
61274,studen195e3pg0000ok208bl08bh35t4,Отчислен,Активный,1,2
61276,studen195e3pg0000ok208bl08bh35t4,Отчислен,Активный,1,2
61277,studen195e3pg0000ok208bl08bh35t4,Отчислен,Активный,1,2

In [100]:
changed_rows[["UUID студента", "Состояние студента", "Новый таргет", "Курс", "Сквозной семестр"]].head(30)

,UUID студента,Состояние студента,Новый таргет,Курс,Сквозной семестр
368,studen195e3pg0000ok202gfub3pbmj4,Отчислен,Активный,1,2
373,studen195e3pg0000ok202gfub3pbmj4,Отчислен,Активный,1,2
374,studen195e3pg0000ok202gfub3pbmj4,Отчислен,Активный,1,2
376,studen195e3pg0000ok202gfub3pbmj4,Отчислен,Активный,1,2
377,studen195e3pg0000ok202gfub3pbmj4,Отчислен,Активный,1,2
540,studen195e3pg0000ok21ho0mk63onnk,Отчислен,Активный,1,2
541,studen195e3pg0000ok21ho0mk63onnk,Отчислен,Активный,1,2
544,studen195e3pg0000ok21ho0mk63onnk,Отчислен,Активный,1,2
545,studen195e3pg0000ok21ho0mk63onnk,Отчислен,Активный,1,2
546,studen195e3pg0000ok21ho0mk63onnk,Отчислен,Активный,1,2
550,studen195e3pg0000ok21ho0mk63onnk,Отчислен,Активный,1,2
553,studen195e3pg0000ok21ho0mk63onnk,Отчислен,Активный,1,2
554,studen195e3pg0000ok21ho0mk63onnk,Отчислен,Активный,1,2
555,studen195e3pg0000ok21ho0mk63onnk,Отчислен,Активный,1,2
560,studen195e3pg0000ok21ho0mk63onnk,Отчислен,Активный,1,2
561,studen195e3pg0000ok21ho0mk63onnk,Отчислен,Активный,1,2
714,studen195e3pg0000ok20h7lid3nit9k,Отчислен,Активный,1,2
715,studen195e3pg0000ok20h7lid3nit9k,Отчислен,Активный,1,2
717,studen195e3pg0000ok20h7lid3nit9k,Отчислен,Активный,1,2
722,studen195e3pg0000ok20h7lid3nit9k,Отчислен,Активный,1,2
723,studen195e3pg0000ok20h7lid3nit9k,Отчислен,Активный,1,2
724,studen195e3pg0000ok20h7lid3nit9k,Отчислен,Активный,1,2
727,studen195e3pg0000ok20h7lid3nit9k,Отчислен,Активный,1,2
728,studen195e3pg0000ok20h7lid3nit9k,Отчислен,Активный,1,2
731,studen195e3pg0000ok20h7lid3nit9k,Отчислен,Активный,1,2
732,studen195e3pg0000ok20h7lid3nit9k,Отчислен,Активный,1,2
734,studen195e3pg0000ok2328o67lpdh38,Отчислен,Активный,2,2
735,studen195e3pg0000ok2328o67lpdh38,Отчислен,Активный,2,1
736,studen195e3pg0000ok2328o67lpdh38,Отчислен,Активный,2,2
737,studen195e3pg0000ok2328o67lpdh38,Отчислен,Активный,2,2

In [101]:
df_1_sem = df_1_sem.drop("Состояние студента", axis=1)

In [102]:
df_1_sem.head(1)

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Наименование олимпиады,Тип олимпиады,Категория конкурса БВИ,UUID оценки,...,Тип законченного уч. зав.,Название законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Квалификация зак.уч.зав.,Специальность зак.уч.зав.,Льготы,Документы подтв. льготы,Наименование дисциплины + семестр,Новый таргет
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0.0,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p0ojcks1r0brulk,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Проектный практикум 1_2,Активный

In [103]:
df_1_sem["Балл за инд. достижения"].unique()

array([ 0.,  3.,  2.,  5.,  6., 10.,  7.,  9.,  4.,  8.,  1.])

In [104]:
df_1_sem["Балл за инд. достижения"] = df_1_sem["Балл за инд. достижения"].astype(int)

In [105]:
df_1_sem.head(1)

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Наименование олимпиады,Тип олимпиады,Категория конкурса БВИ,UUID оценки,...,Тип законченного уч. зав.,Название законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Квалификация зак.уч.зав.,Специальность зак.уч.зав.,Льготы,Документы подтв. льготы,Наименование дисциплины + семестр,Новый таргет
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p0ojcks1r0brulk,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Проектный практикум 1_2,Активный

In [106]:
df_1_sem["Вид конкурса"].unique()

array(['Особая квота', 'Целевая квота', 'Отдельная квота',
       'Основные места'], dtype=object)

In [107]:
benefit = df_1_sem["Льготы"].unique()

In [108]:
benefit

array(['02 Лица из числа детей-сирот (до 23 лет)', nan,
       '04 Дети-инвалиды',
       '05 Лица из числа детей без попечения родителей (до 23 лет)',
       '21 Дети военнослужащих, погибших или получивших увечье при исполнении обязанностей военной службы в специальной военной операции на территориях Украины',
       '07 Инвалиды с детства',
       '19 Дети лиц, принимавших участие в специальной военной операции на территориях Украины',
       '17 Дети военнослужащих, сотрудников федеральных органов исполнительной власти и федеральных государственных органов, направленных в другие государства',
       '11 Инвалиды II группы', '10 Ветераны боевых действий',
       '03 Дети, оставшиеся без попечения родителей (до 18 лет)',
       '09 Лица, поступающие по направлению Министерства в пределах квоты, установленной Правительством Российской Федерации'],
      dtype=object)

In [109]:
df_1_sem["Категория конкурса БВИ"].unique()

array([nan,
       '21 Дети военнослужащих, погибших или получивших увечье при исполнении обязанностей военной службы в специальной военной операции на территориях Украины',
       '2020:  Всероссийская олимпиада школьников',
       '62 Открытая олимпиада школьников',
       '26 Международная олимпиада школьников Уральского федерального университета "Изумруд"',
       '09 Лица, поступающие по направлению Министерства в пределах квоты, установленной Правительством Российской Федерации',
       '2022: 25 Международная олимпиада школьников Уральского федерального университета "Изумруд"',
       '64 Открытая олимпиада школьников по программированию "Когнитивные технологии"',
       '2022: 37 Многопрофильная инженерная олимпиада "Звезда"',
       '36 Многопрофильная инженерная олимпиада "Звезда"',
       '67 Отраслевая олимпиада школьников "Газпром"',
       '79 Университетская олимпиада школьников "Бельчонок"',
       '2022: 15 Вузовско-академическая олимпиада по информатике',
       '47 Олимпиада школьников "Гранит науки"',
       '2020: 35 Многопрофильная олимпиада школьников Уральского федерального университета «Изумруд»',
       '15 Вузовско-академическая олимпиада по информатике',
       'Лица, поступающие по направлению Министерства в пределах квоты, установленной Правительством Российской Федерации'],
      dtype=object)

In [110]:
df_1_sem.loc[df_1_sem["Категория конкурса БВИ"].isin(benefit), "Категория конкурса БВИ"] = np.nan

In [111]:
# Выводим строки, где "Категория конкурса БВИ" стала NaN
df_1_sem[df_1_sem["Категория конкурса БВИ"].isna()].head()

# Или проверяем количество изменений:
# print("Число замененных строк:", df_1_sem["Категория конкурса БВИ"].isna().sum())

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Наименование олимпиады,Тип олимпиады,Категория конкурса БВИ,UUID оценки,...,Тип законченного уч. зав.,Название законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Квалификация зак.уч.зав.,Специальность зак.уч.зав.,Льготы,Документы подтв. льготы,Наименование дисциплины + семестр,Новый таргет
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p0ojcks1r0brulk,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Проектный практикум 1_2,Активный
4,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000oqc4snbpauvougo,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Прикладная физическая культура_1,Активный
6,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000oqib6f365d55omc,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Математика_1,Активный
7,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p0okbqkb7dg8u54,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Философия_2,Активный
8,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000os603jlf5koit64,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Математика_1,Активный

In [112]:
df_1_sem[df_1_sem["UUID студента"] == "studen195e3pg0000ok210qds16h2lps"].head(1)

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Наименование олимпиады,Тип олимпиады,Категория конкурса БВИ,UUID оценки,...,Тип законченного уч. зав.,Название законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Квалификация зак.уч.зав.,Специальность зак.уч.зав.,Льготы,Документы подтв. льготы,Наименование дисциплины + семестр,Новый таргет
281,studen195e3pg0000ok210qds16h2lps,1,0,1,0,Отдельная квота,NaN,NaN,NaN,qldflt195e3pg0000p4j535qjr0kade4,...,Средняя общеобразовательная школа,Средняя общеобразовательная школа Муниципально...,2023,Аттестат о среднем общем образовании,NaN,NaN,"21 Дети военнослужащих, погибших или получивши...","Документ, подтверждающий принадлежность к детя...",Дифференциальные уравнения и численные методы_2,Активный

In [113]:
df_1_sem["Категория конкурса БВИ"].unique()

array([nan, '2020:  Всероссийская олимпиада школьников',
       '62 Открытая олимпиада школьников',
       '26 Международная олимпиада школьников Уральского федерального университета "Изумруд"',
       '2022: 25 Международная олимпиада школьников Уральского федерального университета "Изумруд"',
       '64 Открытая олимпиада школьников по программированию "Когнитивные технологии"',
       '2022: 37 Многопрофильная инженерная олимпиада "Звезда"',
       '36 Многопрофильная инженерная олимпиада "Звезда"',
       '67 Отраслевая олимпиада школьников "Газпром"',
       '79 Университетская олимпиада школьников "Бельчонок"',
       '2022: 15 Вузовско-академическая олимпиада по информатике',
       '47 Олимпиада школьников "Гранит науки"',
       '2020: 35 Многопрофильная олимпиада школьников Уральского федерального университета «Изумруд»',
       '15 Вузовско-академическая олимпиада по информатике',
       'Лица, поступающие по направлению Министерства в пределах квоты, установленной Правительством Российской Федерации'],
      dtype=object)

In [114]:
benefit

array(['02 Лица из числа детей-сирот (до 23 лет)', nan,
       '04 Дети-инвалиды',
       '05 Лица из числа детей без попечения родителей (до 23 лет)',
       '21 Дети военнослужащих, погибших или получивших увечье при исполнении обязанностей военной службы в специальной военной операции на территориях Украины',
       '07 Инвалиды с детства',
       '19 Дети лиц, принимавших участие в специальной военной операции на территориях Украины',
       '17 Дети военнослужащих, сотрудников федеральных органов исполнительной власти и федеральных государственных органов, направленных в другие государства',
       '11 Инвалиды II группы', '10 Ветераны боевых действий',
       '03 Дети, оставшиеся без попечения родителей (до 18 лет)',
       '09 Лица, поступающие по направлению Министерства в пределах квоты, установленной Правительством Российской Федерации'],
      dtype=object)

In [115]:
df_1_sem['Категория конкурса БВИ'] = np.where(df_1_sem['Категория конкурса БВИ'].notna(), '1', "0")

In [116]:
df_1_sem['Категория конкурса БВИ'].unique()

array(['0', '1'], dtype=object)

In [117]:
df_1_sem['Категория конкурса БВИ']

0        0
4        0
6        0
7        0
8        0
        ..
68486    1
68487    1
68488    1
68489    1
68493    1
Name: Категория конкурса БВИ, Length: 46421, dtype: object

In [118]:
df_1_sem['Категория конкурса БВИ'] = df_1_sem['Категория конкурса БВИ'].astype(int)

In [119]:
# df_1_sem["Льготы"] = np.where(df_1_sem["Льготы"].notna(), '1', "0")

In [120]:
# df_1_sem["Льготы"] = df_1_sem['Льготы'].astype(int)

In [121]:
df_1_sem.head(1)

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Наименование олимпиады,Тип олимпиады,Категория конкурса БВИ,UUID оценки,...,Тип законченного уч. зав.,Название законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Квалификация зак.уч.зав.,Специальность зак.уч.зав.,Льготы,Документы подтв. льготы,Наименование дисциплины + семестр,Новый таргет
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,NaN,0,qldflt195e3pg0000p0ojcks1r0brulk,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Проектный практикум 1_2,Активный

In [122]:
df_1_sem = df_1_sem.drop("Наименование олимпиады", axis=1)

In [123]:
df_1_sem = df_1_sem.drop("UUID оценки", axis=1)

In [124]:
columns_lst = df_1_sem.columns

In [125]:
print(*columns_lst.to_list(), sep='\n')

UUID студента
Приоритет
Cумма баллов испытаний
БВИ
Балл за инд. достижения
Вид конкурса
Тип олимпиады
Категория конкурса БВИ
Контрольное мероприятие
Тип оценки
Наименование дисциплины
Модель реализации
Оценка
Балл
Дата получения оценки
Семестр
Сквозной семестр
Год
Наименование дисциплины ИТС
ИТС наименование в дипломе
Код направления подготовки
Наименование напр. подготовки
Образовательная программа
ЛН студента
ЛН студента (архив)
Основа освоения (сокр.)
Форма освоения
Формирующее подразделение
Год начала обучения
Срок освоения
Уровень подготовки
Область образования
Целевик
Хоз. группа | Вкл. обучение
Нуждается в общежитии
Малоимущий
Слушатель
Иностранный абитуриент (МОН)
Курс
Активное состояние
В архиве
Приказ об отчислении
Акад. отп. по сост. здор.
Акад. отп. по уходу за реб.
UUID персоны
Пол
Дата рождения
Место рождения
Гражданство
Адрес регистрации. Страна
Адрес регистрации. Область
Адрес регистрации. Город
Страна законченного уч. зав.
Регион законченного уч. зав.
Город законченного уч. зав.
Тип законченного уч. зав.
Название законченного уч. зав.
Год окончание уч. зав.
Тип документа об образовании
Квалификация зак.уч.зав.
Специальность зак.уч.зав.
Льготы
Документы подтв. льготы
Наименование дисциплины + семестр
Новый таргет

In [126]:
columns_to_drop = ["Контрольное мероприятие", "Тип оценки", "Наименование дисциплины", "Модель реализации", "Оценка", "Балл",
                   "Дата получения оценки", "Семестр", "Сквозной семестр", "Год", "Наименование дисциплины ИТС", "ИТС наименование в дипломе",
                   "Год начала обучения", "Курс", "Активное состояние", "Место рождения", "Наименование дисциплины + семестр"]

df_1_sem_1 = df_1_sem.drop(columns=columns_to_drop)

In [127]:
df_1_sem_1.head(1)

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Тип олимпиады,Категория конкурса БВИ,Код направления подготовки,Наименование напр. подготовки,...,Город законченного уч. зав.,Тип законченного уч. зав.,Название законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Квалификация зак.уч.зав.,Специальность зак.уч.зав.,Льготы,Документы подтв. льготы,Новый таргет
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,0,09.03.04,Программная инженерия,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Активный

In [128]:
# df_1_sem = df_1_sem.drop("UUID оценки", axis=1)
df_1_sem_1["Код направления подготовки"].nunique()

20

In [129]:
df_1_sem_1["Образовательная программа"].nunique()

27

In [130]:
lst1 = df_1_sem_1["Наименование напр. подготовки"].unique().tolist()
lst2 = df_1_sem_1["Образовательная программа"].unique().tolist()

# for val in lst1:
#     lst2.remove(val)
lst1.sort()
lst2.sort()

print(lst1)
print(lst2)

['Инфокоммуникационные технологии и системы связи', 'Информатика и вычислительная техника', 'Информационная безопасность', 'Информационная безопасность телекоммуникационных систем', 'Информационно-аналитические системы безопасности', 'Информационные системы и технологии', 'Конструирование и технология электронных средств', 'Прикладная информатика', 'Программная инженерия', 'Радиотехника', 'Радиоэлектронные системы и комплексы', 'Технология полиграфического и упаковочного производства', 'Управление в технических системах']
['IT инновации в бизнесе', 'Алгоритмы искусственного интеллекта', 'Безопасность компьютерных систем', 'Защита информации в информационных системах персональных данных, государственных информационных системах и значимых объектах критической информационной инфраструктуры', 'Инженерия искусственного интеллекта', 'Инженерия машинного обучения', 'Инженерия радиоэлектронных средств и систем', 'Интеллектуальные информационные системы и технологии в медицине', 'Инфокоммуникационные технологии и системы связи', 'Информатика и вычислительная техника', 'Информационная безопасность телекоммуникационных систем', 'Информационно-аналитические системы безопасности', 'Информационно-управляющие системы', 'Конструирование и технология электронных средств', 'Прикладная информатика', 'Прикладной анализ данных', 'Прикладной искусственный интеллект', 'Программная инженерия', 'Промышленные графические системы и цифровые фототехнологии', 'Радиотехника', 'Радиоэлектронные системы и комплексы', 'Разработка и управление в программных проектах', 'Разработка программно-информационных систем', 'Системы управления сложными объектами и процессами', 'Технология полиграфического и упаковочного производства', 'Управление в технических системах', 'Электроника, радиотехника и системы связи']

In [131]:
sorted_list = sorted(df_1_sem_1["Код направления подготовки"].unique().tolist())
sorted_list

['09.03.01',
 '09.03.03',
 '09.03.04',
 '09.04.01',
 '09.04.02',
 '09.04.03',
 '09.04.04',
 '10.03.01',
 '10.04.01',
 '10.05.02',
 '10.05.04',
 '11.03.01',
 '11.03.02',
 '11.03.03',
 '11.04.01',
 '11.05.01',
 '27.03.04',
 '27.04.04',
 '29.03.03',
 '29.04.03']

In [132]:
df_1_sem_1.columns

Index(['UUID студента', 'Приоритет', 'Cумма баллов испытаний', 'БВИ',
       'Балл за инд. достижения', 'Вид конкурса', 'Тип олимпиады',
       'Категория конкурса БВИ', 'Код направления подготовки',
       'Наименование напр. подготовки', 'Образовательная программа',
       'ЛН студента', 'ЛН студента (архив)', 'Основа освоения (сокр.)',
       'Форма освоения', 'Формирующее подразделение', 'Срок освоения',
       'Уровень подготовки', 'Область образования', 'Целевик',
       'Хоз. группа | Вкл. обучение', 'Нуждается в общежитии', 'Малоимущий',
       'Слушатель', 'Иностранный абитуриент (МОН)', 'В архиве',
       'Приказ об отчислении', 'Акад. отп. по сост. здор.',
       'Акад. отп. по уходу за реб.', 'UUID персоны', 'Пол', 'Дата рождения',
       'Гражданство', 'Адрес регистрации. Страна',
       'Адрес регистрации. Область', 'Адрес регистрации. Город',
       'Страна законченного уч. зав.', 'Регион законченного уч. зав.',
       'Город законченного уч. зав.', 'Тип законченного уч. зав.',
       'Название законченного уч. зав.', 'Год окончание уч. зав.',
       'Тип документа об образовании', 'Квалификация зак.уч.зав.',
       'Специальность зак.уч.зав.', 'Льготы', 'Документы подтв. льготы',
       'Новый таргет'],
      dtype='object')

In [133]:
lst1 = df_1_sem_1["Наименование напр. подготовки"].to_list()
lst2 = df_1_sem_1["Наименование напр. подготовки"].to_list()

In [134]:
df_1_sem_1.head(1)

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Тип олимпиады,Категория конкурса БВИ,Код направления подготовки,Наименование напр. подготовки,...,Город законченного уч. зав.,Тип законченного уч. зав.,Название законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Квалификация зак.уч.зав.,Специальность зак.уч.зав.,Льготы,Документы подтв. льготы,Новый таргет
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,0,09.03.04,Программная инженерия,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Активный

In [159]:
df_1_sem_2 = df_1_sem_1.drop_duplicates(subset=['UUID студента'], keep='first')

In [160]:
df_1_sem_2.shape

(2281, 50)

In [193]:
df_1_sem_2["Код направления 1"] = np.nan
df_1_sem_2["Код направления 3"] = np.nan


df_1_sem_2[["Код направления 1", "Код направления 3"]] = df_1_sem_2["Код направления подготовки"].apply(
    lambda x: pd.Series({
        "Код направления 1": int(x.split(".")[0]),
        "Код направления 3": int(x.split(".")[2])
    })
)

In [191]:
df_1_sem_2["Часть1"].unique()

array([ 9, 11, 10, 27, 29])

In [200]:
df_1_sem_2.head(1)

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Тип олимпиады,Категория конкурса БВИ,Основа освоения (сокр.),Форма освоения,...,Название законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Квалификация зак.уч.зав.,Специальность зак.уч.зав.,Льготы,Документы подтв. льготы,Новый таргет,Код направления 1,Код направления 3
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,0,бюджет,Очная,...,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Активный,9,4

In [196]:
df_1_sem_2 = df_1_sem_2.drop(columns=["Код направления подготовки", "Наименование напр. подготовки", "Образовательная программа"])

In [199]:
df_1_sem_2 = df_1_sem_2.drop(columns=["ЛН студента", "ЛН студента (архив)"])

In [201]:
df_1_sem_2["Основа освоения (сокр.)"].unique()

array(['бюджет', 'контракт'], dtype=object)

In [202]:
df_1_sem_2.columns

Index(['UUID студента', 'Приоритет', 'Cумма баллов испытаний', 'БВИ',
       'Балл за инд. достижения', 'Вид конкурса', 'Тип олимпиады',
       'Категория конкурса БВИ', 'Основа освоения (сокр.)', 'Форма освоения',
       'Формирующее подразделение', 'Срок освоения', 'Уровень подготовки',
       'Область образования', 'Целевик', 'Хоз. группа | Вкл. обучение',
       'Нуждается в общежитии', 'Малоимущий', 'Слушатель',
       'Иностранный абитуриент (МОН)', 'В архиве', 'Приказ об отчислении',
       'Акад. отп. по сост. здор.', 'Акад. отп. по уходу за реб.',
       'UUID персоны', 'Пол', 'Дата рождения', 'Гражданство',
       'Адрес регистрации. Страна', 'Адрес регистрации. Область',
       'Адрес регистрации. Город', 'Страна законченного уч. зав.',
       'Регион законченного уч. зав.', 'Город законченного уч. зав.',
       'Тип законченного уч. зав.', 'Название законченного уч. зав.',
       'Год окончание уч. зав.', 'Тип документа об образовании',
       'Квалификация зак.уч.зав.', 'Специальность зак.уч.зав.', 'Льготы',
       'Документы подтв. льготы', 'Новый таргет', 'Код направления 1',
       'Код направления 3'],
      dtype='object')

In [208]:
df_1_sem_2["Регион законченного уч. зав."].isna().sum()

np.int64(1278)

In [209]:
col_to_drop = ["Формирующее подразделение", "Область образования", "Целевик", "Хоз. группа | Вкл. обучение", 
               "Малоимущий", "Слушатель", "В архиве", "Приказ об отчислении", "Акад. отп. по сост. здор.", "Акад. отп. по уходу за реб.", 
               "UUID персоны", "Адрес регистрации. Страна", "Адрес регистрации. Область", "Адрес регистрации. Город", "Страна законченного уч. зав.",
               "Название законченного уч. зав.", "Регион законченного уч. зав.", "Квалификация зак.уч.зав.", "Специальность зак.уч.зав.", "Документы подтв. льготы"]

current_col = df_1_sem_2.columns.tolist()
for col in col_to_drop:
    if col not in current_col:
        print(col)

In [211]:
df_1_sem_2 = df_1_sem_2.drop(columns=col_to_drop)

In [213]:
df_1_sem_2.head()

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Тип олимпиады,Категория конкурса БВИ,Основа освоения (сокр.),Форма освоения,...,Дата рождения,Гражданство,Город законченного уч. зав.,Тип законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Льготы,Новый таргет,Код направления 1,Код направления 3
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,0,бюджет,Очная,...,19.10.2002,Российская Федерация,не указано,Колледж,2023,Диплом о среднем профессиональном образовании,02 Лица из числа детей-сирот (до 23 лет),Активный,9,4
28,studen195e3pg0000ok226fn6ou3b2v0,5,236,0,0,Целевая квота,NaN,0,бюджет,Очная,...,09.07.2005,Российская Федерация,Серов,Техникум,2023,Аттестат о среднем общем образовании,NaN,Активный,9,4
56,studen195e3pg0000ok22cs2kmm1iuds,1,154,0,0,Целевая квота,NaN,0,бюджет,Очная,...,03.02.2005,Российская Федерация,Чусовой,Средняя общеобразовательная школа,2023,Аттестат о среднем общем образовании,NaN,Активный,9,4
85,studen195e3pg0000ok229rk4q8f5ru4,1,209,0,3,Особая квота,NaN,0,бюджет,Очная,...,26.12.2005,Российская Федерация,Пышма,Средняя общеобразовательная школа,2023,Аттестат о среднем общем образовании,04 Дети-инвалиды,Активный,9,4
115,studen195e3pg0000ok22a5a0pqm86ag,1,196,0,0,Особая квота,NaN,0,бюджет,Очная,...,17.10.2005,Российская Федерация,не указано,Средняя общеобразовательная школа,2023,Аттестат о полном среднем образовании,05 Лица из числа детей без попечения родителей...,Активный,9,4

In [214]:
df_1_sem_2.to_csv('../../data/datasets/dataset_1sem_4.csv', sep=';', index=False, encoding='utf-8-sig')

In [1]:
import numpy as np
import pandas as pd

In [3]:
df_1_sem_2 = pd.read_csv('../../data/datasets/dataset_1sem_4.csv', sep=';', encoding='utf-8-sig', low_memory=False)

In [4]:
df_1_sem_2.head(1)

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Тип олимпиады,Категория конкурса БВИ,Основа освоения (сокр.),Форма освоения,...,Дата рождения,Гражданство,Город законченного уч. зав.,Тип законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Льготы,Новый таргет,Код направления 1,Код направления 3
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,0,бюджет,Очная,...,19.10.2002,Российская Федерация,не указано,Колледж,2023,Диплом о среднем профессиональном образовании,02 Лица из числа детей-сирот (до 23 лет),Активный,9,4

In [7]:
dummies = pd.get_dummies(df_1_sem_2["Основа освоения (сокр.)"], drop_first=True)
df_1_sem_2["Основа освоения (сокр.)"] = dummies  # "бюджет"=0, "контракт"=1

In [11]:
df_1_sem_2 = df_1_sem_2.rename(columns={"Основа освоения (сокр.)": "Контракт"})

In [15]:
df_1_sem_2.head(1)

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Тип олимпиады,Категория конкурса БВИ,Контракт,Форма освоения,...,Дата рождения,Гражданство,Город законченного уч. зав.,Тип законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Льготы,Новый таргет,Код направления 1,Код направления 3
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,0,0,Очная,...,19.10.2002,Российская Федерация,не указано,Колледж,2023,Диплом о среднем профессиональном образовании,02 Лица из числа детей-сирот (до 23 лет),Активный,9,4

In [14]:
df_1_sem_2["Контракт"] = df_1_sem_2["Контракт"].astype(int)

In [17]:
df_1_sem_2 = df_1_sem_2.drop(columns=["Срок освоения"])

In [18]:
dummies = pd.get_dummies(df_1_sem_2["Нуждается в общежитии"])

In [20]:
dummies = dummies.drop("Нет", axis=1)

In [22]:
df_1_sem_2["Нуждается в общежитии"] = dummies

In [23]:
df_1_sem_2["Нуждается в общежитии"] = df_1_sem_2["Нуждается в общежитии"].astype(int)

In [27]:
dummies = pd.get_dummies(df_1_sem_2["Иностранный абитуриент (МОН)"])

In [29]:
dummies = dummies.drop("Нет", axis=1)

In [30]:
df_1_sem_2["Иностранный абитуриент (МОН)"] = dummies
df_1_sem_2["Иностранный абитуриент (МОН)"] = df_1_sem_2["Иностранный абитуриент (МОН)"].astype(int)

In [32]:
# df_1_sem_2.iloc[:,7:].tail(10)

,Категория конкурса БВИ,Контракт,Форма освоения,Уровень подготовки,Нуждается в общежитии,Иностранный абитуриент (МОН),Пол,Дата рождения,Гражданство,Город законченного уч. зав.,Тип законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Льготы,Новый таргет,Код направления 1,Код направления 3
2271,0,0,Очная,Бакалавр,1,0,М,21.05.2005,Российская Федерация,Челябинск,Средняя общеобразовательная школа,2023,Аттестат о среднем общем образовании,NaN,Активный,11,3
2272,0,0,Очная,Бакалавр,0,0,М,22.09.2005,Российская Федерация,Екатеринбург,Лицей,2023,Аттестат о среднем общем образовании,NaN,Активный,9,4
2273,0,0,Очная,Бакалавр,0,0,М,22.09.2005,Российская Федерация,Екатеринбург,Лицей,2023,Аттестат о среднем общем образовании,NaN,Активный,9,3
2274,0,0,Очная,Бакалавр,0,0,М,29.03.2005,Российская Федерация,Екатеринбург,Гимназия,2023,Аттестат о среднем общем образовании,NaN,Активный,9,3
2275,0,1,Очная,Магистр,0,0,М,01.12.1994,Российская Федерация,NaN,Высшее,2017,Диплом о высшем образовании,NaN,Активный,9,2
2276,0,0,Очная,Магистр,0,0,М,29.07.2001,Российская Федерация,NaN,Высшее,2023,Диплом о высшем профессиональном образовании,NaN,Отчислен,9,2
2277,0,0,Очная,Специалист,1,0,М,02.07.2005,Российская Федерация,Знаменское,Средняя общеобразовательная школа,2023,Аттестат о среднем общем образовании,NaN,Активный,11,1
2278,0,0,Очная,Бакалавр,0,0,М,03.08.2003,Российская Федерация,не указано,Колледж,2023,Диплом о среднем профессиональном образовании,NaN,Отчислен,9,1
2279,0,1,Заочная,Бакалавр,0,0,М,15.07.1991,Российская Федерация,не указано,Колледж,2022,Диплом о среднем профессиональном образовании,NaN,Активный,11,1
2280,1,0,Очная,Бакалавр,0,1,М,29.06.2001,Йеменская Республика,Эт-Таиф,Средняя общеобразовательная школа,2019,Аттестат о среднем общем образовании,NaN,Активный,9,4

In [33]:
dummies = pd.get_dummies(df_1_sem_2["Пол"])

In [35]:
dummies = dummies.drop("Ж", axis=1)

In [36]:
df_1_sem_2["Пол"] = dummies
df_1_sem_2["Пол"] = df_1_sem_2["Пол"].astype(int)

In [38]:
date_of_birth = df_1_sem_2["Дата рождения"]

In [39]:
date_of_birth.head(1)

0    19.10.2002
Name: Дата рождения, dtype: object

In [40]:
date_of_birth = pd.to_datetime(date_of_birth, format='%d.%m.%Y')

In [41]:
date_of_birth

0      2002-10-19
1      2005-07-09
2      2005-02-03
3      2005-12-26
4      2005-10-17
          ...
2276   2001-07-29
2277   2005-07-02
2278   2003-08-03
2279   1991-07-15
2280   2001-06-29
Name: Дата рождения, Length: 2281, dtype: datetime64[ns]

In [52]:
start_styding_date = pd.to_datetime("1.08.2023", format='%d.%m.%Y')
start_styding_column = (start_styding_date - date_of_birth)
start_styding_column = np.round(start_styding_column.dt.days / 365, 2)

In [53]:
start_styding_column

0       20.80
1       18.07
2       18.50
3       17.61
4       17.80
        ...
2276    22.02
2277    18.09
2278    20.01
2279    32.07
2280    22.10
Name: Дата рождения, Length: 2281, dtype: float64

In [54]:
df_1_sem_2["Дата рождения"] = start_styding_column
df_1_sem_2 = df_1_sem_2.rename(columns={"Дата рождения": "Лет на момент поступления"})

In [57]:
citizenship_map = {
    "Russia": ["Российская Федерация"],
    "PostSoviet": [
        "Республика Азербайджан", "Республика Армения", "Республика Беларусь", "Грузия", "Республика Казахстан", "Киргизская Республика",
        "Латвия", "Литва", "Республика Молдова", "Республика Таджикистан", "Туркменистан", "Республика Узбекистан", "Украина", "Эстония"
    ]
}

citizenship_class = []
citizenship = df_1_sem_2["Гражданство"].tolist()

for current in citizenship:
    if current in citizenship_map.get("Russia"):
        citizenship_class.append("Russia")
    elif current in citizenship_map.get("PostSoviet"):
        citizenship_class.append("PostSoviet")
    else:
        citizenship_class.append("others")

In [59]:
citizenship_series = pd.Series(citizenship_class)

In [60]:
citizenship_series.unique()

array(['Russia', 'PostSoviet', 'others'], dtype=object)

In [61]:
df_1_sem_2["citizenship_class"] = citizenship_series

In [62]:
df_1_sem_2["citizenship_class"].unique()

array(['Russia', 'PostSoviet', 'others'], dtype=object)

In [ ]:
# is_ekb_list = []
# city = df_1_sem_2["Гражданство"].tolist()

# for current in citizenship:
#     if current in citizenship_map.get("Russia"):
#         citizenship_class.append("Russia")
#     elif current in citizenship_map.get("PostSoviet"):
#         citizenship_class.append("PostSoviet")
#     else:
#         citizenship_class.append("others")

In [67]:
city_df = pd.read_csv('../../data/datasets/dataset_1_3.csv', sep=';', encoding='utf-8-sig', low_memory=False)
city_df = city_df[["UUID студента", "Адрес регистрации. Город"]]

In [68]:
city_df.head()

                      UUID студента Адрес регистрации. Город
0  studen195e3pg0000ok22fnqsr14o7ek                   Шаркан
1  studen195e3pg0000ok22fnqsr14o7ek                   Шаркан
2  studen195e3pg0000ok22fnqsr14o7ek                   Шаркан
3  studen195e3pg0000ok22fnqsr14o7ek                   Шаркан
4  studen195e3pg0000ok22fnqsr14o7ek                   Шаркан

In [70]:
city_df = city_df.drop_duplicates(subset=['UUID студента'])

In [79]:
is_ekb_list = []
uuid_current = df_1_sem_2["UUID студента"].tolist()
cnt = 0
for uuid in uuid_current:
    current_value = city_df[city_df["UUID студента"] == uuid]["Адрес регистрации. Город"].iloc[0]
    if current_value == "Екатеринбург":
        is_ekb_list.append(1)
    else:
        is_ekb_list.append(0)

In [80]:
len(is_ekb_list)

2281

In [82]:
is_ekb_series = pd.Series(is_ekb_list)
df_1_sem_2["isEkaterinburg"] = is_ekb_series

In [84]:
df_1_sem_2 = df_1_sem_2.rename(columns={"isEkaterinburg": "FromEkaterinburg"})

In [90]:
df_1_sem_2 = df_1_sem_2.drop("Город законченного уч. зав.", axis=1)

In [92]:
current_df = df_1_sem_2[
    (df_1_sem_2["Тип законченного уч. зав."] == "Высшее") & 
    (df_1_sem_2["Тип документа об образовании"].isin(["Аттестат о среднем общем образовании", "Диплом о среднем профессиональном образовании"]))
]

In [94]:
uuid_to_replace = current_df["UUID студента"]

In [96]:
for uuid in uuid_to_replace:
    df_1_sem_2.loc[df_1_sem_2["UUID студента"] == uuid, "Тип законченного уч. зав."] = "Техникум"

In [102]:
# df_1_sem_2[df_1_sem_2["UUID студента"].isin(uuid_to_replace)]

In [104]:
current_df = df_1_sem_2[
    (df_1_sem_2["Тип законченного уч. зав."] == "Высшее") & 
    (df_1_sem_2["Тип документа об образовании"].isin(["Академическая справка"]))
]
uuid_to_replace = current_df["UUID студента"]

In [105]:
for uuid in uuid_to_replace:
    df_1_sem_2.loc[df_1_sem_2["UUID студента"] == uuid, "Тип законченного уч. зав."] = "Техникум"

In [106]:
current_df = df_1_sem_2[
    df_1_sem_2["Тип законченного уч. зав."].isin(["(не указано)", "Вечерняя школа", "Основная общеобразовательная школа", "Средняя общеобразовательная школа"]
)]
uuid_to_replace = current_df["UUID студента"]

In [107]:
df_1_sem_2.loc[df_1_sem_2["UUID студента"].isin(uuid_to_replace), "Тип законченного уч. зав."] = "Школа"

In [108]:
current_df = df_1_sem_2[
    df_1_sem_2["Тип законченного уч. зав."].isin(["Гимназия", "Лицей", "Дневная школа, лицей, гимназия"]
)]
uuid_to_replace = current_df["UUID студента"]

df_1_sem_2.loc[df_1_sem_2["UUID студента"].isin(uuid_to_replace), "Тип законченного уч. зав."] = "Профильная Школа"

In [109]:
current_df = df_1_sem_2[
    df_1_sem_2["Тип законченного уч. зав."].isin(["Кадетский корпус", "Суворовское училище"]
)]
uuid_to_replace = current_df["UUID студента"]

df_1_sem_2.loc[df_1_sem_2["UUID студента"].isin(uuid_to_replace), "Тип законченного уч. зав."] = "Военное уч. заведение"

In [111]:
current_df = df_1_sem_2[
    df_1_sem_2["Тип законченного уч. зав."].isin(["Колледж", "Техникум", "Профессиональное училище"]
)]
uuid_to_replace = current_df["UUID студента"]

df_1_sem_2.loc[df_1_sem_2["UUID студента"].isin(uuid_to_replace), "Тип законченного уч. зав."] = "СПО"

In [113]:
df_1_sem_2["Тип законченного уч. зав."].unique()

array(['СПО', 'Школа', 'Профильная Школа', 'Военное уч. заведение',
       'Высшее'], dtype=object)

In [114]:
df_1_sem_2 = df_1_sem_2.drop("Тип документа об образовании", axis=1)

In [115]:
year_of_end = df_1_sem_2["Год окончание уч. зав."]
df_1_sem_2["Год окончание уч. зав."] = 2023 - year_of_end

In [117]:
df_1_sem_2["Год окончание уч. зав."].unique()

array([ 0,  3,  1,  4,  2,  5,  6, 14, 19, 12, 18, 20, 10, 17,  7, 15, 11,
       13,  9, 21, 30, 16,  8, 26, 22, 32, 27, 25, 24])

In [118]:
df_1_sem_2 = df_1_sem_2.rename(columns={"Год окончание уч. зав.": "Прошло лет с окончания уч. заведения"})

In [119]:
df_1_sem_2.head(1)

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Тип олимпиады,Категория конкурса БВИ,Контракт,Форма освоения,...,Лет на момент поступления,Гражданство,Тип законченного уч. зав.,Прошло лет с окончания уч. заведения,Льготы,Новый таргет,Код направления 1,Код направления 3,citizenship_class,FromEkaterinburg
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,0,0,Очная,...,20.8,Российская Федерация,СПО,0,02 Лица из числа детей-сирот (до 23 лет),Активный,9,4,Russia,0

In [120]:
df_1_sem_2["Льготы"] = df_1_sem_2["Льготы"].fillna("Отсутствует")

In [121]:
current_df = df_1_sem_2[
    df_1_sem_2["Льготы"].isin(["02 Лица из числа детей-сирот (до 23 лет)", "03 Дети, оставшиеся без попечения родителей (до 18 лет)", "05 Лица из числа детей без попечения родителей (до 23 лет)"]
)]
uuid_to_replace = current_df["UUID студента"]

df_1_sem_2.loc[df_1_sem_2["UUID студента"].isin(uuid_to_replace), "Льготы"] = "Сироты"

In [122]:
current_df = df_1_sem_2[
    df_1_sem_2["Льготы"].isin(["04 Дети-инвалиды", "07 Инвалиды с детства", "11 Инвалиды II группы"]
)]
uuid_to_replace = current_df["UUID студента"]

df_1_sem_2.loc[df_1_sem_2["UUID студента"].isin(uuid_to_replace), "Льготы"] = "Инвалиды"

In [124]:
current_df = df_1_sem_2[
    df_1_sem_2["Льготы"].isin([
        "10 Ветераны боевых действий",
        "17 Дети военнослужащих, сотрудников федеральных органов исполнительной власти и федеральных государственных органов, направленных в другие государства",
        "19 Дети лиц, принимавших участие в специальной военной операции на территориях Украины",
        "21 Дети военнослужащих, погибших или получивших увечье при исполнении обязанностей военной службы в специальной военной операции на территориях Украины"]
)]
uuid_to_replace = current_df["UUID студента"]

df_1_sem_2.loc[df_1_sem_2["UUID студента"].isin(uuid_to_replace), "Льготы"] = "Боевые действия"

In [126]:
current_df = df_1_sem_2[
    df_1_sem_2["Льготы"].isin([
        "09 Лица, поступающие по направлению Министерства в пределах квоты, установленной Правительством Российской Федерации"]
)]
uuid_to_replace = current_df["UUID студента"]

df_1_sem_2.loc[df_1_sem_2["UUID студента"].isin(uuid_to_replace), "Льготы"] = "Квота для иностранных граждан"

In [127]:
df_1_sem_2["Льготы"].unique()

array(['Сироты', 'Отсутствует', 'Инвалиды', 'Боевые действия',
       'Квота для иностранных граждан'], dtype=object)

In [128]:
df_1_sem_2["Тип олимпиады"] = df_1_sem_2["Тип олимпиады"].fillna("Отсутствует")

In [129]:
df_1_sem_2.describe()

,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Категория конкурса БВИ,Контракт,Нуждается в общежитии,Иностранный абитуриент (МОН),Пол,Лет на момент поступления,Прошло лет с окончания уч. заведения,Код направления 1,Код направления 3,FromEkaterinburg
count,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000
mean,1.501973,173.385357,0.021920,1.987725,0.010522,0.322227,0.352915,0.010960,0.804033,21.094279,1.350285,10.377028,2.270057,0.301622
std,1.037930,74.741315,0.146455,3.295908,0.102057,0.467432,0.477981,0.104138,0.397030,5.164883,3.677642,4.188736,1.279330,0.459063
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.950000,0.000000,9.000000,1.000000,0.000000
25%,1.000000,90.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,18.100000,0.000000,9.000000,1.000000,0.000000
50%,1.000000,200.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,18.630000,0.000000,9.000000,2.000000,0.000000
75%,2.000000,238.000000,0.000000,3.000000,0.000000,1.000000,1.000000,0.000000,1.000000,22.150000,1.000000,10.000000,4.000000,1.000000
max,10.000000,287.000000,1.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,56.650000,32.000000,29.000000,4.000000,1.000000

In [130]:
df_1_sem_2.isna().sum()

UUID студента                           0
Приоритет                               0
Cумма баллов испытаний                  0
БВИ                                     0
Балл за инд. достижения                 0
Вид конкурса                            0
Тип олимпиады                           0
Категория конкурса БВИ                  0
Контракт                                0
Форма освоения                          0
Уровень подготовки                      0
Нуждается в общежитии                   0
Иностранный абитуриент (МОН)            0
Пол                                     0
Лет на момент поступления               0
Гражданство                             0
Тип законченного уч. зав.               0
Прошло лет с окончания уч. заведения    0
Льготы                                  0
Новый таргет                            0
Код направления 1                       0
Код направления 3                       0
citizenship_class                       0
FromEkaterinburg                        0
dtype: int64

In [136]:
country = df_1_sem_2["Гражданство"].unique().tolist()

In [138]:
country.sort()

In [139]:
country

['Арабская Республика Египет',
 'Габонская Республика',
 'Йеменская Республика',
 'Киргизская Республика',
 'Китайская Народная Республика',
 'Королевство Марокко',
 'Народная Республика Бангладеш',
 'Республика Азербайджан',
 'Республика Армения',
 'Республика Беларусь',
 'Республика Гаити',
 'Республика Индонезия',
 'Республика Ирак',
 'Республика Казахстан',
 'Республика Камерун',
 'Республика Колумбия',
 "Республика Кот д'Ивуар",
 'Республика Куба',
 'Республика Молдова',
 'Республика Перу',
 'Республика Судан',
 'Республика Таджикистан',
 'Республика Узбекистан',
 'Российская Федерация',
 'Сирийская Арабская Республика',
 'Социалистическая Республика Вьетнам',
 'Турецкая Республика',
 'Туркменистан',
 'Украина',
 'Федеративная Демократическая Республика Эфиопия',
 'Федеративная Республика Бразилия',
 'Федеративная Республика Германия',
 'Федеративная Республика Нигерия']

In [140]:
HDI_dict = {
    'Арабская Республика Египет': 0.731,
    'Габонская Республика': 0.706,
    'Йеменская Республика': 0.455,
    'Киргизская Республика': 0.692,
    'Китайская Народная Республика': 0.768,
    'Королевство Марокко': 0.683,
    'Народная Республика Бангладеш': 0.661,
    'Республика Азербайджан': 0.745,
    'Республика Армения': 0.759,
    'Республика Беларусь': 0.808,
    'Республика Гаити': 0.535,
    'Республика Индонезия': 0.705,
    'Республика Ирак': 0.686,
    'Республика Казахстан': 0.811,
    'Республика Камерун': 0.576,
    'Республика Колумбия': 0.752,
    "Республика Кот д'Ивуар": 0.550,
    'Республика Куба': 0.764,
    'Республика Молдова': 0.767,
    'Республика Перу': 0.762,
    'Республика Судан': 0.508,
    'Республика Таджикистан': 0.685,
    'Республика Узбекистан': 0.727,
    'Российская Федерация': 0.822,
    'Сирийская Арабская Республика': 0.577,
    'Социалистическая Республика Вьетнам': 0.703,
    'Турецкая Республика': 0.838,
    'Туркменистан': 0.745,
    'Украина': 0.773,
    'Федеративная Демократическая Республика Эфиопия': 0.498,
    'Федеративная Республика Бразилия': 0.754,
    'Федеративная Республика Германия': 0.942,
    'Федеративная Республика Нигерия': 0.535
}

In [141]:
HDI_lst = []
country = df_1_sem_2["Гражданство"].tolist()

for current_country in country:
    HDI_lst.append(HDI_dict.get(current_country))

In [142]:
len(HDI_lst)

2281

In [143]:
HDI_series = pd.Series(HDI_lst)

In [145]:
HDI_series.unique()

array([0.822, 0.811, 0.745, 0.685, 0.768, 0.727, 0.508, 0.731, 0.692,
       0.838, 0.808, 0.455, 0.686, 0.703, 0.759, 0.773, 0.535, 0.55 ,
       0.661, 0.942, 0.576, 0.767, 0.754, 0.577, 0.706, 0.705, 0.764,
       0.498, 0.762, 0.752, 0.683])

In [146]:
df_1_sem_2["Human Development Index"] = HDI_series

In [147]:
df_1_sem_2.shape

(2281, 25)

In [148]:
df_1_sem_2.head(1)

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Тип олимпиады,Категория конкурса БВИ,Контракт,Форма освоения,...,Гражданство,Тип законченного уч. зав.,Прошло лет с окончания уч. заведения,Льготы,Новый таргет,Код направления 1,Код направления 3,citizenship_class,FromEkaterinburg,Human Development Index
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,Отсутствует,0,0,Очная,...,Российская Федерация,СПО,0,Сироты,Активный,9,4,Russia,0,0.822

In [149]:
df_1_sem_2.to_csv('../../data/datasets/dataset_1sem_5.csv', sep=';', index=False, encoding='utf-8-sig')

In [152]:
df_1_sem_5 = pd.read_csv('../../data/datasets/dataset_1sem_5.csv', sep=';', encoding='utf-8-sig', low_memory=False)

In [154]:
df_1_sem_5["Лет на момент поступления"].head(10)

0    20.80
1    18.07
2    18.50
3    17.61
4    17.80
5    21.17
6    18.28
7    18.60
8    18.18
9    17.92
Name: Лет на момент поступления, dtype: float64

In [171]:
df_1_sem_5.to_csv('../../data/datasets/dataset_1sem_5.csv', index=False, sep=';', encoding='utf-8-sig')

In [157]:
df_1_sem_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2281 entries, 0 to 2280
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   UUID студента                         2281 non-null   object
 1   Приоритет                             2281 non-null   int64
 2   Cумма баллов испытаний                2281 non-null   int64
 3   БВИ                                   2281 non-null   int64
 4   Балл за инд. достижения               2281 non-null   int64
 5   Вид конкурса                          2281 non-null   object
 6   Тип олимпиады                         2281 non-null   object
 7   Категория конкурса БВИ                2281 non-null   int64
 8   Контракт                              2281 non-null   int64
 9   Форма освоения                        2281 non-null   object
 10  Уровень подготовки                    2281 non-null   object
 11  Нуждается в общежитии                 2281 non-null   int64
 12  Иностранный абитуриент (МОН)          2281 non-null   int64
 13  Пол                                   2281 non-null   int64
 14  Лет на момент поступления             2281 non-null   float64
 15  Гражданство                           2281 non-null   object
 16  Тип законченного уч. зав.             2281 non-null   object
 17  Прошло лет с окончания уч. заведения  2281 non-null   int64
 18  Льготы                                2281 non-null   object
 19  Новый таргет                          2281 non-null   object
 20  Код направления 1                     2281 non-null   int64
 21  Код направления 3                     2281 non-null   int64
 22  citizenship_class                     2281 non-null   object
 23  FromEkaterinburg                      2281 non-null   int64
 24  Human Development Index               2281 non-null   float64
dtypes: float64(2), int64(13), object(10)
memory usage: 445.6+ KB

In [160]:
df_1_sem_5["Лет на момент поступления2"] = df_1_sem_5["Лет на момент поступления"].astype(float)

In [163]:
df_1_sem_5["Полных лет на момент поступления2"] = df_1_sem_5["Лет на момент поступления"].astype(int)
df_1_sem_5 = df_1_sem_5.drop("Лет на момент поступления2",axis=1)

In [168]:
df_1_sem_5 = df_1_sem_5.drop("Полных лет на момент поступления",axis=1)

In [170]:
df_1_sem_5.iloc[:,7:].head(1)

,Категория конкурса БВИ,Контракт,Форма освоения,Уровень подготовки,Нуждается в общежитии,Иностранный абитуриент (МОН),Пол,Гражданство,Тип законченного уч. зав.,Прошло лет с окончания уч. заведения,Льготы,Новый таргет,Код направления 1,Код направления 3,citizenship_class,FromEkaterinburg,Human Development Index,Полных лет на момент поступления
0,0,0,Очная,Бакалавр,0,0,1,Российская Федерация,СПО,0,Сироты,Активный,9,4,Russia,0,0.822,20

In [169]:
df_1_sem_5 = df_1_sem_5.rename(columns={"Полных лет на момент поступления2": "Полных лет на момент поступления"})

In [192]:
df_1_sem_6 = pd.read_csv('../../data/datasets/dataset_1sem_5.csv', sep=';', encoding='utf-8-sig', low_memory=False)

In [193]:
df_1_sem_6 = df_1_sem_6.drop(columns=["UUID студента", "Гражданство"])

In [194]:
dummies = pd.get_dummies(df_1_sem_6["Вид конкурса"])
dummies = dummies.drop("Основные места", axis=1)
dummies = dummies.astype(int)

In [195]:
dummies.head()

   Особая квота  Отдельная квота  Целевая квота
0             1                0              0
1             0                0              1
2             0                0              1
3             1                0              0
4             1                0              0

In [196]:
df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [197]:
result.tail()

,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Тип олимпиады,Категория конкурса БВИ,Контракт,Форма освоения,Уровень подготовки,...,Новый таргет,Код направления 1,Код направления 3,citizenship_class,FromEkaterinburg,Human Development Index,Полных лет на момент поступления,Особая квота,Отдельная квота,Целевая квота
2276,1,92,0,10,Основные места,Отсутствует,0,0,Очная,Магистр,...,Отчислен,9,2,Russia,0,0.822,22,0,0,0
2277,1,212,0,2,Основные места,Отсутствует,0,0,Очная,Специалист,...,Активный,11,1,Russia,0,0.822,18,0,0,0
2278,2,246,0,0,Основные места,Отсутствует,0,0,Очная,Бакалавр,...,Отчислен,9,1,Russia,1,0.822,20,0,0,0
2279,1,222,0,0,Основные места,Отсутствует,0,1,Заочная,Бакалавр,...,Активный,11,1,Russia,1,0.822,32,0,0,0
2280,1,0,1,0,Основные места,Отсутствует,1,0,Очная,Бакалавр,...,Активный,9,4,others,0,0.455,22,0,0,0

In [200]:
dummies = pd.get_dummies(df_1_sem_6["Тип олимпиады"])
dummies = dummies.drop("Отсутствует", axis=1)
dummies = dummies.astype(int)

df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [201]:
df_1_sem_6.head()

,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Тип олимпиады,Категория конкурса БВИ,Контракт,Форма освоения,Уровень подготовки,...,Код направления 3,citizenship_class,FromEkaterinburg,Human Development Index,Полных лет на момент поступления,Особая квота,Отдельная квота,Целевая квота,всероссийская олимпиада школьников (ВОШ),"олимпиада из перечня, утвержденного МОН РФ (ОШ)"
0,1,205,0,0,Особая квота,Отсутствует,0,0,Очная,Бакалавр,...,4,Russia,0,0.822,20,1,0,0,0,0
1,5,236,0,0,Целевая квота,Отсутствует,0,0,Очная,Бакалавр,...,4,Russia,0,0.822,18,0,0,1,0,0
2,1,154,0,0,Целевая квота,Отсутствует,0,0,Очная,Бакалавр,...,4,Russia,0,0.822,18,0,0,1,0,0
3,1,209,0,3,Особая квота,Отсутствует,0,0,Очная,Бакалавр,...,4,Russia,0,0.822,17,1,0,0,0,0
4,1,196,0,0,Особая квота,Отсутствует,0,0,Очная,Бакалавр,...,4,Russia,0,0.822,17,1,0,0,0,0

In [204]:
dummies = pd.get_dummies(df_1_sem_6["Форма освоения"])
dummies = dummies.drop("Очная", axis=1)
dummies = dummies.astype(int)

df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [206]:
dummies = pd.get_dummies(df_1_sem_6["Уровень подготовки"])
dummies = dummies.drop("Бакалавр", axis=1)
dummies = dummies.astype(int)

df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [209]:
dummies = pd.get_dummies(df_1_sem_6["Тип законченного уч. зав."])
dummies = dummies.drop("Школа", axis=1)
dummies = dummies.astype(int)

df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [211]:
dummies = pd.get_dummies(df_1_sem_6["Льготы"])
dummies = dummies.drop("Отсутствует", axis=1)
dummies = dummies.astype(int)

df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [213]:
dummies = pd.get_dummies(df_1_sem_6["citizenship_class"])
dummies = dummies.drop("Russia", axis=1)
dummies = dummies.astype(int)

df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [224]:
dummies = pd.get_dummies(df_1_sem_6["Код направления 1"])
dummies = dummies.drop(9, axis=1)
dummies = dummies.rename(columns={10: "Код направления 1: 10"})
dummies = dummies.rename(columns={11: "Код направления 1: 11"})
dummies = dummies.rename(columns={27: "Код направления 1: 27"})
dummies = dummies.rename(columns={29: "Код направления 1: 29"})
dummies = dummies.astype(int)

df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [226]:
dummies = pd.get_dummies(df_1_sem_6["Код направления 3"])
dummies = dummies.drop(1, axis=1)
dummies = dummies.rename(columns={2: "Код направления 3: 2"})
dummies = dummies.rename(columns={3: "Код направления 3: 3"})
dummies = dummies.rename(columns={4: "Код направления 3: 4"})
dummies = dummies.astype(int)

df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [229]:
df_1_sem_6 = df_1_sem_6.drop(columns=["Тип олимпиады", "Вид конкурса", "Форма освоения", "Уровень подготовки", "Тип законченного уч. зав.", "Льготы", "citizenship_class", "Код направления 1", "Код направления 3"])

In [231]:
df_1_sem_6.isna().sum()

Приоритет                                          0
Cумма баллов испытаний                             0
БВИ                                                0
Балл за инд. достижения                            0
Категория конкурса БВИ                             0
Контракт                                           0
Нуждается в общежитии                              0
Иностранный абитуриент (МОН)                       0
Пол                                                0
Прошло лет с окончания уч. заведения               0
Новый таргет                                       0
FromEkaterinburg                                   0
Human Development Index                            0
Полных лет на момент поступления                   0
Особая квота                                       0
Отдельная квота                                    0
Целевая квота                                      0
всероссийская олимпиада школьников (ВОШ)           0
олимпиада из перечня, утвержденного МОН РФ (ОШ)    0
Заочная                                            0
Очно-заочная                                       0
Магистр                                            0
Специалист                                         0
Военное уч. заведение                              0
Высшее                                             0
Профильная Школа                                   0
СПО                                                0
Боевые действия                                    0
Инвалиды                                           0
Квота для иностранных граждан                      0
Сироты                                             0
PostSoviet                                         0
others                                             0
Код направления 1: 10                              0
Код направления 1: 11                              0
Код направления 1: 27                              0
Код направления 1: 29                              0
Код направления 3: 2                               0
Код направления 3: 3                               0
Код направления 3: 4                               0
dtype: int64

In [234]:
mask = df_1_sem_6["Новый таргет"].isin(["Отп.акад.", "Отп.б.посещ.", "Отчислен"])
df_1_sem_6.loc[mask, "Новый таргет"] = "1"

In [235]:
mask = df_1_sem_6["Новый таргет"].isin(["Активный", "Зак. с дипломом"])
df_1_sem_6.loc[mask, "Новый таргет"] = "0"

In [236]:
df_1_sem_6["Новый таргет"].unique()

array(['0', '1'], dtype=object)

In [237]:
df_1_sem_6["Новый таргет"] = df_1_sem_6["Новый таргет"].astype(int)

In [238]:
df_1_sem_6 = df_1_sem_6.rename(columns={"Новый таргет": "Таргет"})

In [240]:
df_1_sem_6.to_csv('../../data/datasets/dataset_1sem_final.csv', index=False, sep=';', encoding='utf-8-sig')