In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('../../data/datasets/dataset_1_3.csv', sep=';', encoding='utf-8-sig', low_memory=False)

In [4]:
df.head()

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Наименование олимпиады,Тип олимпиады,Категория конкурса БВИ,UUID оценки,...,Город законченного уч. зав.,Тип законченного уч. зав.,Название законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Квалификация зак.уч.зав.,Специальность зак.уч.зав.,Льготы,Документы подтв. льготы,Наименование дисциплины + семестр
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p0ojcks1r0brulk,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Проектный практикум 1_2
1,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p9a199s0tmd01fs,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Архитектура ЭВМ_3
2,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p9a1uimadbqc25o,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Анализ данных и искусственный интеллект_3
3,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p91r12floo1c7uc,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Прикладная физическая культура_3
4,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000oqc4snbpauvougo,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Прикладная физическая культура_1

In [5]:
df.columns

Index(['UUID студента', 'Приоритет', 'Cумма баллов испытаний', 'БВИ',
       'Балл за инд. достижения', 'Вид конкурса', 'Наименование олимпиады',
       'Тип олимпиады', 'Категория конкурса БВИ', 'UUID оценки',
       'Контрольное мероприятие', 'Тип оценки', 'Наименование дисциплины',
       'Модель реализации', 'Оценка', 'Балл', 'Дата получения оценки',
       'Семестр', 'Сквозной семестр', 'Год', 'Наименование дисциплины ИТС',
       'ИТС наименование в дипломе', 'Код направления подготовки',
       'Наименование напр. подготовки', 'Образовательная программа',
       'ЛН студента', 'ЛН студента (архив)', 'Основа освоения (сокр.)',
       'Форма освоения', 'Формирующее подразделение', 'Год начала обучения',
       'Срок освоения', 'Уровень подготовки', 'Область образования', 'Целевик',
       'Хоз. группа | Вкл. обучение', 'Нуждается в общежитии', 'Малоимущий',
       'Слушатель', 'Иностранный абитуриент (МОН)', 'Курс',
       'Состояние студента', 'Активное состояние', 'В архиве',
       'Приказ об отчислении', 'Акад. отп. по сост. здор.',
       'Акад. отп. по уходу за реб.', 'UUID персоны', 'Пол', 'Дата рождения',
       'Место рождения', 'Гражданство', 'Адрес регистрации. Страна',
       'Адрес регистрации. Область', 'Адрес регистрации. Город',
       'Страна законченного уч. зав.', 'Регион законченного уч. зав.',
       'Город законченного уч. зав.', 'Тип законченного уч. зав.',
       'Название законченного уч. зав.', 'Год окончание уч. зав.',
       'Тип документа об образовании', 'Квалификация зак.уч.зав.',
       'Специальность зак.уч.зав.', 'Льготы', 'Документы подтв. льготы',
       'Наименование дисциплины + семестр'],
      dtype='object')

In [6]:
# df_1_sem = df[df["Сквозной семестр"] < 3]
df_1_sem = df[df["Год начала обучения"] == 2023].copy()

In [7]:
df_1_sem.head()

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Наименование олимпиады,Тип олимпиады,Категория конкурса БВИ,UUID оценки,...,Город законченного уч. зав.,Тип законченного уч. зав.,Название законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Квалификация зак.уч.зав.,Специальность зак.уч.зав.,Льготы,Документы подтв. льготы,Наименование дисциплины + семестр
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p0ojcks1r0brulk,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Проектный практикум 1_2
1,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p9a199s0tmd01fs,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Архитектура ЭВМ_3
2,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p9a1uimadbqc25o,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Анализ данных и искусственный интеллект_3
3,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p91r12floo1c7uc,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Прикладная физическая культура_3
4,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,NaN,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000oqc4snbpauvougo,...,не указано,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Прикладная физическая культура_1

In [8]:
df_1_sem['Балл за инд. достижения'] = df_1_sem['Балл за инд. достижения'].fillna(0)

In [9]:
df_1_sem.isna().sum()

UUID студента                            0
Приоритет                                0
Cумма баллов испытаний                   0
БВИ                                      0
Балл за инд. достижения                  0
                                     ...
Квалификация зак.уч.зав.             47300
Специальность зак.уч.зав.            44414
Льготы                               58586
Документы подтв. льготы              58833
Наименование дисциплины + семестр        0
Length: 67, dtype: int64

In [10]:
df_1_sem["Новый таргет"] = df_1_sem["Состояние студента"]

In [11]:
# Сначала создаём маску с правильными условиями
mask = (
    ((df_1_sem["Курс"] != 1) & 
    (df_1_sem["Состояние студента"] != "Активный")) |
    ((df_1_sem["Сквозной семестр"] > 2) & 
    (df_1_sem["Состояние студента"] != "Активный"))
)

# Затем обновляем значения для строк, соответствующих маске
df_1_sem.loc[mask, "Новый таргет"] = "Активный"

In [12]:
nunique_df_1_sem = df_1_sem.groupby("UUID студента").nunique()
for column in nunique_df_1_sem.columns.to_list():
    print(f"{column} - {nunique_df_1_sem[column].nunique()} - {nunique_df_1_sem[column].unique()}")

Приоритет - 1 - [1]
Cумма баллов испытаний - 1 - [1]
БВИ - 1 - [1]
Балл за инд. достижения - 1 - [1]
Вид конкурса - 1 - [1]
Наименование олимпиады - 2 - [0 1]
Тип олимпиады - 2 - [0 1]
Категория конкурса БВИ - 2 - [0 1]
UUID оценки - 44 - [28 25 26 29 19 27 30 31 10 15 34 21 20 23 32  9 36 33 22 12 35 24 42 38
 40 37 39 13 44 11 45 41 18 14 48 46 17  1 16  8  7  3 43  6]
Контрольное мероприятие - 4 - [2 1 3 4]
Тип оценки - 2 - [2 1]
Наименование дисциплины - 26 - [21 20 22 15 10 11 16  9 27 19 23 24 18 26 17 28 25 14 30 12 13  1  8  7
  3  6]
Модель реализации - 4 - [4 3 2 1]
Оценка - 8 - [5 7 3 4 2 6 1 8]
Балл - 29 - [20 14 16 19 23 17 22 12  2 15 18 13  5 24  6 21  7  9  8 11  1 25  4  3
 10 26 27 28  0]
Дата получения оценки - 38 - [22 20 23 21 15 24  8 12 28 16 18 26  7 29 27 25 31 17  9 19 14 32 33 30
 35 11 38 37 10 13 34 36 40 42  2  3  1  6]
Семестр - 2 - [2 1]
Сквозной семестр - 3 - [3 2 1]
Год - 2 - [2 1]
Наименование дисциплины ИТС - 23 - [19 15  9 20 11 14 17  6 13  8 18 10 23 22 16 12  1  0  2  3  7  5  4]
ИТС наименование в дипломе - 2 - [2 1]
Код направления подготовки - 1 - [1]
Наименование напр. подготовки - 1 - [1]
Образовательная программа - 1 - [1]
ЛН студента - 2 - [1 0]
ЛН студента (архив) - 2 - [0 1]
Основа освоения (сокр.) - 1 - [1]
Форма освоения - 1 - [1]
Формирующее подразделение - 1 - [1]
Год начала обучения - 1 - [1]
Срок освоения - 1 - [1]
Уровень подготовки - 1 - [1]
Область образования - 1 - [1]
Целевик - 1 - [1]
Хоз. группа | Вкл. обучение - 1 - [1]
Нуждается в общежитии - 1 - [1]
Малоимущий - 1 - [1]
Слушатель - 1 - [1]
Иностранный абитуриент (МОН) - 1 - [1]
Курс - 1 - [1]
Состояние студента - 1 - [1]
Активное состояние - 1 - [1]
В архиве - 1 - [1]
Приказ об отчислении - 1 - [1]
Акад. отп. по сост. здор. - 1 - [1]
Акад. отп. по уходу за реб. - 1 - [1]
UUID персоны - 1 - [1]
Пол - 1 - [1]
Дата рождения - 1 - [1]
Место рождения - 1 - [1]
Гражданство - 1 - [1]
Адрес регистрации. Страна - 1 - [1]
Адрес регистрации. Область - 2 - [1 0]
Адрес регистрации. Город - 1 - [1]
Страна законченного уч. зав. - 2 - [1 0]
Регион законченного уч. зав. - 2 - [0 1]
Город законченного уч. зав. - 2 - [1 0]
Тип законченного уч. зав. - 1 - [1]
Название законченного уч. зав. - 2 - [1 0]
Год окончание уч. зав. - 1 - [1]
Тип документа об образовании - 1 - [1]
Квалификация зак.уч.зав. - 2 - [0 1]
Специальность зак.уч.зав. - 2 - [0 1]
Льготы - 2 - [0 1]
Документы подтв. льготы - 2 - [0 1]
Наименование дисциплины + семестр - 32 - [27 25 28 19 10 26 14 21  9 32 24 30 23 31 33 34 20 13 11 29 18 36 22 17
  1 12 16  8 15  7  3  6]
Новый таргет - 2 - [1 2]

In [13]:
# Выбираем строки, где "Состояние студента" != "новый таргет"
changed_rows = df_1_sem[df_1_sem["Состояние студента"] != df_1_sem["Новый таргет"]]

# Выводим результат (можно добавить фильтр по нужным столбцам)
changed_rows[["UUID студента", "Состояние студента", "Новый таргет", "Курс", "Сквозной семестр"]]

,UUID студента,Состояние студента,Новый таргет,Курс,Сквозной семестр
734,studen195e3pg0000ok2328o67lpdh38,Отчислен,Активный,2,2
735,studen195e3pg0000ok2328o67lpdh38,Отчислен,Активный,2,1
736,studen195e3pg0000ok2328o67lpdh38,Отчислен,Активный,2,2
737,studen195e3pg0000ok2328o67lpdh38,Отчислен,Активный,2,2
738,studen195e3pg0000ok2328o67lpdh38,Отчислен,Активный,2,2
...,...,...,...,...,...
61006,studen195e3pg0000ok209r109jf9rig,Отп.акад.,Активный,2,3
61007,studen195e3pg0000ok209r109jf9rig,Отп.акад.,Активный,2,2
61008,studen195e3pg0000ok209r109jf9rig,Отп.акад.,Активный,2,1
61009,studen195e3pg0000ok209r109jf9rig,Отп.акад.,Активный,2,1
61010,studen195e3pg0000ok209r109jf9rig,Отп.акад.,Активный,2,3

In [15]:
df_1_sem = df_1_sem.drop("Состояние студента", axis=1)

In [16]:
df_1_sem["Балл за инд. достижения"].unique()

array([ 0.,  3.,  2.,  5.,  6., 10.,  7.,  9.,  4.,  8.,  1.])

In [17]:
df_1_sem["Балл за инд. достижения"] = df_1_sem["Балл за инд. достижения"].astype(int)

In [18]:
df_1_sem["Вид конкурса"].unique()

array(['Особая квота', 'Целевая квота', 'Отдельная квота',
       'Основные места'], dtype=object)

In [19]:
benefit = df_1_sem["Льготы"].unique()

In [20]:
benefit

array(['02 Лица из числа детей-сирот (до 23 лет)', nan,
       '04 Дети-инвалиды',
       '05 Лица из числа детей без попечения родителей (до 23 лет)',
       '21 Дети военнослужащих, погибших или получивших увечье при исполнении обязанностей военной службы в специальной военной операции на территориях Украины',
       '07 Инвалиды с детства',
       '19 Дети лиц, принимавших участие в специальной военной операции на территориях Украины',
       '17 Дети военнослужащих, сотрудников федеральных органов исполнительной власти и федеральных государственных органов, направленных в другие государства',
       '11 Инвалиды II группы', '10 Ветераны боевых действий',
       '03 Дети, оставшиеся без попечения родителей (до 18 лет)',
       '09 Лица, поступающие по направлению Министерства в пределах квоты, установленной Правительством Российской Федерации'],
      dtype=object)

In [21]:
df_1_sem["Категория конкурса БВИ"].unique()

array([nan,
       '21 Дети военнослужащих, погибших или получивших увечье при исполнении обязанностей военной службы в специальной военной операции на территориях Украины',
       '2020:  Всероссийская олимпиада школьников',
       '62 Открытая олимпиада школьников',
       '26 Международная олимпиада школьников Уральского федерального университета "Изумруд"',
       '09 Лица, поступающие по направлению Министерства в пределах квоты, установленной Правительством Российской Федерации',
       '2022: 25 Международная олимпиада школьников Уральского федерального университета "Изумруд"',
       '64 Открытая олимпиада школьников по программированию "Когнитивные технологии"',
       '2022: 37 Многопрофильная инженерная олимпиада "Звезда"',
       '36 Многопрофильная инженерная олимпиада "Звезда"',
       '67 Отраслевая олимпиада школьников "Газпром"',
       '79 Университетская олимпиада школьников "Бельчонок"',
       '2022: 15 Вузовско-академическая олимпиада по информатике',
       '47 Олимпиада школьников "Гранит науки"',
       '2020: 35 Многопрофильная олимпиада школьников Уральского федерального университета «Изумруд»',
       '15 Вузовско-академическая олимпиада по информатике',
       'Лица, поступающие по направлению Министерства в пределах квоты, установленной Правительством Российской Федерации'],
      dtype=object)

In [22]:
df_1_sem.loc[df_1_sem["Категория конкурса БВИ"].isin(benefit), "Категория конкурса БВИ"] = np.nan

In [23]:
# Выводим строки, где "Категория конкурса БВИ" стала NaN
df_1_sem[df_1_sem["Категория конкурса БВИ"].isna()].head()

# Или проверяем количество изменений:
# print("Число замененных строк:", df_1_sem["Категория конкурса БВИ"].isna().sum())

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Наименование олимпиады,Тип олимпиады,Категория конкурса БВИ,UUID оценки,...,Тип законченного уч. зав.,Название законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Квалификация зак.уч.зав.,Специальность зак.уч.зав.,Льготы,Документы подтв. льготы,Наименование дисциплины + семестр,Новый таргет
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p0ojcks1r0brulk,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Проектный практикум 1_2,Активный
1,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p9a199s0tmd01fs,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Архитектура ЭВМ_3,Активный
2,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p9a1uimadbqc25o,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Анализ данных и искусственный интеллект_3,Активный
3,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000p91r12floo1c7uc,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Прикладная физическая культура_3,Активный
4,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,NaN,NaN,qldflt195e3pg0000oqc4snbpauvougo,...,Колледж,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Прикладная физическая культура_1,Активный

In [24]:
df_1_sem[df_1_sem["UUID студента"] == "studen195e3pg0000ok210qds16h2lps"].head(1)

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Наименование олимпиады,Тип олимпиады,Категория конкурса БВИ,UUID оценки,...,Тип законченного уч. зав.,Название законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Квалификация зак.уч.зав.,Специальность зак.уч.зав.,Льготы,Документы подтв. льготы,Наименование дисциплины + семестр,Новый таргет
280,studen195e3pg0000ok210qds16h2lps,1,0,1,0,Отдельная квота,NaN,NaN,NaN,qldflt195e3pg0000p99qits4ti41pec,...,Средняя общеобразовательная школа,Средняя общеобразовательная школа Муниципально...,2023,Аттестат о среднем общем образовании,NaN,NaN,"21 Дети военнослужащих, погибших или получивши...","Документ, подтверждающий принадлежность к детя...",Эффективные коммуникации_3,Активный

In [25]:
df_1_sem["Категория конкурса БВИ"].unique()

array([nan, '2020:  Всероссийская олимпиада школьников',
       '62 Открытая олимпиада школьников',
       '26 Международная олимпиада школьников Уральского федерального университета "Изумруд"',
       '2022: 25 Международная олимпиада школьников Уральского федерального университета "Изумруд"',
       '64 Открытая олимпиада школьников по программированию "Когнитивные технологии"',
       '2022: 37 Многопрофильная инженерная олимпиада "Звезда"',
       '36 Многопрофильная инженерная олимпиада "Звезда"',
       '67 Отраслевая олимпиада школьников "Газпром"',
       '79 Университетская олимпиада школьников "Бельчонок"',
       '2022: 15 Вузовско-академическая олимпиада по информатике',
       '47 Олимпиада школьников "Гранит науки"',
       '2020: 35 Многопрофильная олимпиада школьников Уральского федерального университета «Изумруд»',
       '15 Вузовско-академическая олимпиада по информатике',
       'Лица, поступающие по направлению Министерства в пределах квоты, установленной Правительством Российской Федерации'],
      dtype=object)

In [26]:
benefit

array(['02 Лица из числа детей-сирот (до 23 лет)', nan,
       '04 Дети-инвалиды',
       '05 Лица из числа детей без попечения родителей (до 23 лет)',
       '21 Дети военнослужащих, погибших или получивших увечье при исполнении обязанностей военной службы в специальной военной операции на территориях Украины',
       '07 Инвалиды с детства',
       '19 Дети лиц, принимавших участие в специальной военной операции на территориях Украины',
       '17 Дети военнослужащих, сотрудников федеральных органов исполнительной власти и федеральных государственных органов, направленных в другие государства',
       '11 Инвалиды II группы', '10 Ветераны боевых действий',
       '03 Дети, оставшиеся без попечения родителей (до 18 лет)',
       '09 Лица, поступающие по направлению Министерства в пределах квоты, установленной Правительством Российской Федерации'],
      dtype=object)

In [27]:
df_1_sem['Категория конкурса БВИ'] = np.where(df_1_sem['Категория конкурса БВИ'].notna(), '1', "0")

In [28]:
df_1_sem['Категория конкурса БВИ'].unique()

array(['0', '1'], dtype=object)

In [29]:
df_1_sem['Категория конкурса БВИ']

0        0
1        0
2        0
3        0
4        0
        ..
68491    1
68492    1
68493    1
68494    1
68495    1
Name: Категория конкурса БВИ, Length: 60591, dtype: object

In [30]:
df_1_sem['Категория конкурса БВИ'] = df_1_sem['Категория конкурса БВИ'].astype(int)

In [31]:
# df_1_sem["Льготы"] = np.where(df_1_sem["Льготы"].notna(), '1', "0")

In [32]:
# df_1_sem["Льготы"] = df_1_sem['Льготы'].astype(int)

In [33]:
df_1_sem.columns

Index(['UUID студента', 'Приоритет', 'Cумма баллов испытаний', 'БВИ',
       'Балл за инд. достижения', 'Вид конкурса', 'Наименование олимпиады',
       'Тип олимпиады', 'Категория конкурса БВИ', 'UUID оценки',
       'Контрольное мероприятие', 'Тип оценки', 'Наименование дисциплины',
       'Модель реализации', 'Оценка', 'Балл', 'Дата получения оценки',
       'Семестр', 'Сквозной семестр', 'Год', 'Наименование дисциплины ИТС',
       'ИТС наименование в дипломе', 'Код направления подготовки',
       'Наименование напр. подготовки', 'Образовательная программа',
       'ЛН студента', 'ЛН студента (архив)', 'Основа освоения (сокр.)',
       'Форма освоения', 'Формирующее подразделение', 'Год начала обучения',
       'Срок освоения', 'Уровень подготовки', 'Область образования', 'Целевик',
       'Хоз. группа | Вкл. обучение', 'Нуждается в общежитии', 'Малоимущий',
       'Слушатель', 'Иностранный абитуриент (МОН)', 'Курс',
       'Активное состояние', 'В архиве', 'Приказ об отчислении',
       'Акад. отп. по сост. здор.', 'Акад. отп. по уходу за реб.',
       'UUID персоны', 'Пол', 'Дата рождения', 'Место рождения', 'Гражданство',
       'Адрес регистрации. Страна', 'Адрес регистрации. Область',
       'Адрес регистрации. Город', 'Страна законченного уч. зав.',
       'Регион законченного уч. зав.', 'Город законченного уч. зав.',
       'Тип законченного уч. зав.', 'Название законченного уч. зав.',
       'Год окончание уч. зав.', 'Тип документа об образовании',
       'Квалификация зак.уч.зав.', 'Специальность зак.уч.зав.', 'Льготы',
       'Документы подтв. льготы', 'Наименование дисциплины + семестр',
       'Новый таргет'],
      dtype='object')

In [34]:
df_1_sem = df_1_sem.drop("Наименование олимпиады", axis=1)

In [35]:
df_1_sem = df_1_sem.drop("UUID оценки", axis=1)

In [36]:
columns_to_drop = ["Контрольное мероприятие", "Тип оценки", "Наименование дисциплины", "Модель реализации", "Оценка", "Балл",
                   "Дата получения оценки", "Семестр","Год", "Наименование дисциплины ИТС", "ИТС наименование в дипломе",
                   "Год начала обучения", "Курс", "Активное состояние", "Место рождения", "Наименование дисциплины + семестр"]

df_1_sem_1 = df_1_sem.drop(columns=columns_to_drop)

In [37]:
# df_1_sem = df_1_sem.drop("UUID оценки", axis=1)
df_1_sem_1["Код направления подготовки"].nunique()

20

In [38]:
df_1_sem_1["Образовательная программа"].nunique()

27

In [39]:
lst1 = df_1_sem_1["Наименование напр. подготовки"].unique().tolist()
lst2 = df_1_sem_1["Образовательная программа"].unique().tolist()

# for val in lst1:
#     lst2.remove(val)
lst1.sort()
lst2.sort()

print(lst1)
print(lst2)

['Инфокоммуникационные технологии и системы связи', 'Информатика и вычислительная техника', 'Информационная безопасность', 'Информационная безопасность телекоммуникационных систем', 'Информационно-аналитические системы безопасности', 'Информационные системы и технологии', 'Конструирование и технология электронных средств', 'Прикладная информатика', 'Программная инженерия', 'Радиотехника', 'Радиоэлектронные системы и комплексы', 'Технология полиграфического и упаковочного производства', 'Управление в технических системах']
['IT инновации в бизнесе', 'Алгоритмы искусственного интеллекта', 'Безопасность компьютерных систем', 'Защита информации в информационных системах персональных данных, государственных информационных системах и значимых объектах критической информационной инфраструктуры', 'Инженерия искусственного интеллекта', 'Инженерия машинного обучения', 'Инженерия радиоэлектронных средств и систем', 'Интеллектуальные информационные системы и технологии в медицине', 'Инфокоммуникационные технологии и системы связи', 'Информатика и вычислительная техника', 'Информационная безопасность телекоммуникационных систем', 'Информационно-аналитические системы безопасности', 'Информационно-управляющие системы', 'Конструирование и технология электронных средств', 'Прикладная информатика', 'Прикладной анализ данных', 'Прикладной искусственный интеллект', 'Программная инженерия', 'Промышленные графические системы и цифровые фототехнологии', 'Радиотехника', 'Радиоэлектронные системы и комплексы', 'Разработка и управление в программных проектах', 'Разработка программно-информационных систем', 'Системы управления сложными объектами и процессами', 'Технология полиграфического и упаковочного производства', 'Управление в технических системах', 'Электроника, радиотехника и системы связи']

In [40]:
sorted_list = sorted(df_1_sem_1["Код направления подготовки"].unique().tolist())
sorted_list

['09.03.01',
 '09.03.03',
 '09.03.04',
 '09.04.01',
 '09.04.02',
 '09.04.03',
 '09.04.04',
 '10.03.01',
 '10.04.01',
 '10.05.02',
 '10.05.04',
 '11.03.01',
 '11.03.02',
 '11.03.03',
 '11.04.01',
 '11.05.01',
 '27.03.04',
 '27.04.04',
 '29.03.03',
 '29.04.03']

In [41]:
df_1_sem_1.columns

Index(['UUID студента', 'Приоритет', 'Cумма баллов испытаний', 'БВИ',
       'Балл за инд. достижения', 'Вид конкурса', 'Тип олимпиады',
       'Категория конкурса БВИ', 'Сквозной семестр',
       'Код направления подготовки', 'Наименование напр. подготовки',
       'Образовательная программа', 'ЛН студента', 'ЛН студента (архив)',
       'Основа освоения (сокр.)', 'Форма освоения',
       'Формирующее подразделение', 'Срок освоения', 'Уровень подготовки',
       'Область образования', 'Целевик', 'Хоз. группа | Вкл. обучение',
       'Нуждается в общежитии', 'Малоимущий', 'Слушатель',
       'Иностранный абитуриент (МОН)', 'В архиве', 'Приказ об отчислении',
       'Акад. отп. по сост. здор.', 'Акад. отп. по уходу за реб.',
       'UUID персоны', 'Пол', 'Дата рождения', 'Гражданство',
       'Адрес регистрации. Страна', 'Адрес регистрации. Область',
       'Адрес регистрации. Город', 'Страна законченного уч. зав.',
       'Регион законченного уч. зав.', 'Город законченного уч. зав.',
       'Тип законченного уч. зав.', 'Название законченного уч. зав.',
       'Год окончание уч. зав.', 'Тип документа об образовании',
       'Квалификация зак.уч.зав.', 'Специальность зак.уч.зав.', 'Льготы',
       'Документы подтв. льготы', 'Новый таргет'],
      dtype='object')

In [42]:
lst1 = df_1_sem_1["Наименование напр. подготовки"].to_list()
lst2 = df_1_sem_1["Наименование напр. подготовки"].to_list()

In [43]:
df_1_sem_1 = df_1_sem_1.sort_values(by='Сквозной семестр', ascending=False)

In [44]:
df_1_sem_2 = df_1_sem_1.drop_duplicates(subset=['UUID студента'], keep='first').copy()

In [45]:
df_1_sem_2.shape

(2281, 49)

In [46]:
df_1_sem_2["Код направления 1"] = np.nan
df_1_sem_2["Код направления 3"] = np.nan


df_1_sem_2[["Код направления 1", "Код направления 3"]] = df_1_sem_2["Код направления подготовки"].apply(
    lambda x: pd.Series({
        "Код направления 1": int(x.split(".")[0]),
        "Код направления 3": int(x.split(".")[2])
    })
)

In [47]:
df_1_sem_2.head(1)

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Тип олимпиады,Категория конкурса БВИ,Сквозной семестр,Код направления подготовки,...,Название законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Квалификация зак.уч.зав.,Специальность зак.уч.зав.,Льготы,Документы подтв. льготы,Новый таргет,Код направления 1,Код направления 3
14,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,0,3,09.03.04,...,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕПРОФЕССИОНАЛЬНОЕОБРАЗ...,2023,Диплом о среднем профессиональном образовании,NaN,NaN,02 Лица из числа детей-сирот (до 23 лет),31 Копия свидетельства о смерти матери,Активный,9,4

In [48]:
df_1_sem_2 = df_1_sem_2.drop(columns=["Код направления подготовки", "Наименование напр. подготовки", "Образовательная программа", "Сквозной семестр"])

In [49]:
df_1_sem_2 = df_1_sem_2.drop(columns=["ЛН студента", "ЛН студента (архив)"])

In [50]:
df_1_sem_2["Основа освоения (сокр.)"].unique()

array(['бюджет', 'контракт'], dtype=object)

In [51]:
df_1_sem_2.columns

Index(['UUID студента', 'Приоритет', 'Cумма баллов испытаний', 'БВИ',
       'Балл за инд. достижения', 'Вид конкурса', 'Тип олимпиады',
       'Категория конкурса БВИ', 'Основа освоения (сокр.)', 'Форма освоения',
       'Формирующее подразделение', 'Срок освоения', 'Уровень подготовки',
       'Область образования', 'Целевик', 'Хоз. группа | Вкл. обучение',
       'Нуждается в общежитии', 'Малоимущий', 'Слушатель',
       'Иностранный абитуриент (МОН)', 'В архиве', 'Приказ об отчислении',
       'Акад. отп. по сост. здор.', 'Акад. отп. по уходу за реб.',
       'UUID персоны', 'Пол', 'Дата рождения', 'Гражданство',
       'Адрес регистрации. Страна', 'Адрес регистрации. Область',
       'Адрес регистрации. Город', 'Страна законченного уч. зав.',
       'Регион законченного уч. зав.', 'Город законченного уч. зав.',
       'Тип законченного уч. зав.', 'Название законченного уч. зав.',
       'Год окончание уч. зав.', 'Тип документа об образовании',
       'Квалификация зак.уч.зав.', 'Специальность зак.уч.зав.', 'Льготы',
       'Документы подтв. льготы', 'Новый таргет', 'Код направления 1',
       'Код направления 3'],
      dtype='object')

In [52]:
df_1_sem_2["Регион законченного уч. зав."].isna().sum()

np.int64(1278)

In [53]:
col_to_drop = ["Формирующее подразделение", "Область образования", "Целевик", "Хоз. группа | Вкл. обучение", 
               "Малоимущий", "Слушатель", "В архиве", "Приказ об отчислении", "Акад. отп. по сост. здор.", "Акад. отп. по уходу за реб.", 
               "UUID персоны", "Адрес регистрации. Страна", "Адрес регистрации. Область", "Адрес регистрации. Город", "Страна законченного уч. зав.",
               "Название законченного уч. зав.", "Регион законченного уч. зав.", "Квалификация зак.уч.зав.", "Специальность зак.уч.зав.", "Документы подтв. льготы"]

current_col = df_1_sem_2.columns.tolist()
for col in col_to_drop:
    if col not in current_col:
        print(col)

In [54]:
df_1_sem_2 = df_1_sem_2.drop(columns=col_to_drop)

In [55]:
df_1_sem_2.head()

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Тип олимпиады,Категория конкурса БВИ,Основа освоения (сокр.),Форма освоения,...,Дата рождения,Гражданство,Город законченного уч. зав.,Тип законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Льготы,Новый таргет,Код направления 1,Код направления 3
14,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,0,бюджет,Очная,...,19.10.2002,Российская Федерация,не указано,Колледж,2023,Диплом о среднем профессиональном образовании,02 Лица из числа детей-сирот (до 23 лет),Активный,9,4
68495,studen195e3pg0000p3ds5o7kr3vk7s0,1,0,1,0,Основные места,NaN,1,бюджет,Очная,...,29.06.2001,Йеменская Республика,Эт-Таиф,Средняя общеобразовательная школа,2019,Аттестат о среднем общем образовании,NaN,Активный,9,4
38157,studen195e3pg0000ok23227t2pdnh3k,1,181,0,0,Основные места,NaN,0,контракт,Очная,...,08.04.2005,Российская Федерация,Екатеринбург,Гимназия,2023,Аттестат о среднем общем образовании,NaN,Активный,10,4
33,studen195e3pg0000ok226fn6ou3b2v0,5,236,0,0,Целевая квота,NaN,0,бюджет,Очная,...,09.07.2005,Российская Федерация,Серов,Техникум,2023,Аттестат о среднем общем образовании,NaN,Активный,9,4
61311,studen195e3pg0000oksqbv5lpjqhi3o,1,222,0,0,Основные места,NaN,0,контракт,Заочная,...,15.07.1991,Российская Федерация,не указано,Колледж,2022,Диплом о среднем профессиональном образовании,NaN,Активный,11,1

In [56]:
df_1_sem_2.to_csv('../../data/datasets/dataset_1sem_4.csv', sep=';', index=False, encoding='utf-8-sig')

In [57]:
import numpy as np
import pandas as pd

In [58]:
df_1_sem_2 = pd.read_csv('../../data/datasets/dataset_1sem_4.csv', sep=';', encoding='utf-8-sig', low_memory=False)

In [59]:
dummies = pd.get_dummies(df_1_sem_2["Основа освоения (сокр.)"], drop_first=True)
df_1_sem_2["Основа освоения (сокр.)"] = dummies  # "бюджет"=0, "контракт"=1

In [60]:
df_1_sem_2 = df_1_sem_2.rename(columns={"Основа освоения (сокр.)": "Контракт"})

In [61]:
df_1_sem_2.head(1)

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Тип олимпиады,Категория конкурса БВИ,Контракт,Форма освоения,...,Дата рождения,Гражданство,Город законченного уч. зав.,Тип законченного уч. зав.,Год окончание уч. зав.,Тип документа об образовании,Льготы,Новый таргет,Код направления 1,Код направления 3
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,0,False,Очная,...,19.10.2002,Российская Федерация,не указано,Колледж,2023,Диплом о среднем профессиональном образовании,02 Лица из числа детей-сирот (до 23 лет),Активный,9,4

In [62]:
df_1_sem_2["Контракт"] = df_1_sem_2["Контракт"].astype(int)

In [63]:
df_1_sem_2 = df_1_sem_2.drop(columns=["Срок освоения"])

In [64]:
dummies = pd.get_dummies(df_1_sem_2["Нуждается в общежитии"])

In [65]:
dummies = dummies.drop("Нет", axis=1)

In [66]:
df_1_sem_2["Нуждается в общежитии"] = dummies

In [67]:
df_1_sem_2["Нуждается в общежитии"] = df_1_sem_2["Нуждается в общежитии"].astype(int)

In [68]:
dummies = pd.get_dummies(df_1_sem_2["Иностранный абитуриент (МОН)"])

In [69]:
dummies = dummies.drop("Нет", axis=1)

In [70]:
df_1_sem_2["Иностранный абитуриент (МОН)"] = dummies
df_1_sem_2["Иностранный абитуриент (МОН)"] = df_1_sem_2["Иностранный абитуриент (МОН)"].astype(int)

In [71]:
dummies = pd.get_dummies(df_1_sem_2["Пол"])

In [72]:
dummies = dummies.drop("Ж", axis=1)

In [73]:
df_1_sem_2["Пол"] = dummies
df_1_sem_2["Пол"] = df_1_sem_2["Пол"].astype(int)

In [74]:
date_of_birth = df_1_sem_2["Дата рождения"]

In [75]:
date_of_birth.head(1)

0    19.10.2002
Name: Дата рождения, dtype: object

In [76]:
date_of_birth = pd.to_datetime(date_of_birth, format='%d.%m.%Y')

In [77]:
date_of_birth

0      2002-10-19
1      2001-06-29
2      2005-04-08
3      2005-07-09
4      1991-07-15
          ...
2276   2001-09-09
2277   2002-03-05
2278   2005-02-14
2279   2005-04-30
2280   2001-07-29
Name: Дата рождения, Length: 2281, dtype: datetime64[ns]

In [78]:
start_styding_date = pd.to_datetime("1.08.2023", format='%d.%m.%Y')
start_styding_column = (start_styding_date - date_of_birth)
start_styding_column = np.round(start_styding_column.dt.days / 365, 2)

In [79]:
start_styding_column

0       20.80
1       22.10
2       18.33
3       18.07
4       32.07
        ...
2276    21.91
2277    21.42
2278    18.47
2279    18.27
2280    22.02
Name: Дата рождения, Length: 2281, dtype: float64

In [80]:
df_1_sem_2["Дата рождения"] = start_styding_column
df_1_sem_2 = df_1_sem_2.rename(columns={"Дата рождения": "Лет на момент поступления"})

In [81]:
citizenship_map = {
    "Russia": ["Российская Федерация"],
    "PostSoviet": [
        "Республика Азербайджан", "Республика Армения", "Республика Беларусь", "Грузия", "Республика Казахстан", "Киргизская Республика",
        "Латвия", "Литва", "Республика Молдова", "Республика Таджикистан", "Туркменистан", "Республика Узбекистан", "Украина", "Эстония"
    ]
}

citizenship_class = []
citizenship = df_1_sem_2["Гражданство"].tolist()

for current in citizenship:
    if current in citizenship_map.get("Russia"):
        citizenship_class.append("Russia")
    elif current in citizenship_map.get("PostSoviet"):
        citizenship_class.append("PostSoviet")
    else:
        citizenship_class.append("others")

In [82]:
citizenship_series = pd.Series(citizenship_class)

In [83]:
citizenship_series.unique()

array(['Russia', 'others', 'PostSoviet'], dtype=object)

In [84]:
df_1_sem_2["citizenship_class"] = citizenship_series

In [85]:
df_1_sem_2["citizenship_class"].unique()

array(['Russia', 'others', 'PostSoviet'], dtype=object)

In [86]:
city_df = pd.read_csv('../../data/datasets/dataset_1_3.csv', sep=';', encoding='utf-8-sig', low_memory=False)
city_df = city_df[["UUID студента", "Адрес регистрации. Город"]]

In [87]:
city_df.head()

                      UUID студента Адрес регистрации. Город
0  studen195e3pg0000ok22fnqsr14o7ek                   Шаркан
1  studen195e3pg0000ok22fnqsr14o7ek                   Шаркан
2  studen195e3pg0000ok22fnqsr14o7ek                   Шаркан
3  studen195e3pg0000ok22fnqsr14o7ek                   Шаркан
4  studen195e3pg0000ok22fnqsr14o7ek                   Шаркан

In [88]:
city_df = city_df.drop_duplicates(subset=['UUID студента'])

In [89]:
is_ekb_list = []
uuid_current = df_1_sem_2["UUID студента"].tolist()
cnt = 0
for uuid in uuid_current:
    current_value = city_df[city_df["UUID студента"] == uuid]["Адрес регистрации. Город"].iloc[0]
    if current_value == "Екатеринбург":
        is_ekb_list.append(1)
    else:
        is_ekb_list.append(0)

In [90]:
len(is_ekb_list)

2281

In [91]:
is_ekb_series = pd.Series(is_ekb_list)
df_1_sem_2["isEkaterinburg"] = is_ekb_series

In [92]:
df_1_sem_2 = df_1_sem_2.rename(columns={"isEkaterinburg": "FromEkaterinburg"})

In [93]:
df_1_sem_2 = df_1_sem_2.drop("Город законченного уч. зав.", axis=1)

In [94]:
current_df = df_1_sem_2[
    (df_1_sem_2["Тип законченного уч. зав."] == "Высшее") & 
    (df_1_sem_2["Тип документа об образовании"].isin(["Аттестат о среднем общем образовании", "Диплом о среднем профессиональном образовании"]))
]

In [95]:
uuid_to_replace = current_df["UUID студента"]

In [96]:
for uuid in uuid_to_replace:
    df_1_sem_2.loc[df_1_sem_2["UUID студента"] == uuid, "Тип законченного уч. зав."] = "Техникум"

In [97]:
current_df = df_1_sem_2[
    (df_1_sem_2["Тип законченного уч. зав."] == "Высшее") & 
    (df_1_sem_2["Тип документа об образовании"].isin(["Академическая справка"]))
]
uuid_to_replace = current_df["UUID студента"]

In [98]:
for uuid in uuid_to_replace:
    df_1_sem_2.loc[df_1_sem_2["UUID студента"] == uuid, "Тип законченного уч. зав."] = "Техникум"

In [99]:
current_df = df_1_sem_2[
    df_1_sem_2["Тип законченного уч. зав."].isin(["(не указано)", "Вечерняя школа", "Основная общеобразовательная школа", "Средняя общеобразовательная школа"]
)]
uuid_to_replace = current_df["UUID студента"]

In [100]:
df_1_sem_2.loc[df_1_sem_2["UUID студента"].isin(uuid_to_replace), "Тип законченного уч. зав."] = "Школа"

In [101]:
current_df = df_1_sem_2[
    df_1_sem_2["Тип законченного уч. зав."].isin(["Гимназия", "Лицей", "Дневная школа, лицей, гимназия"]
)]
uuid_to_replace = current_df["UUID студента"]

df_1_sem_2.loc[df_1_sem_2["UUID студента"].isin(uuid_to_replace), "Тип законченного уч. зав."] = "Профильная Школа"

In [102]:
current_df = df_1_sem_2[
    df_1_sem_2["Тип законченного уч. зав."].isin(["Кадетский корпус", "Суворовское училище"]
)]
uuid_to_replace = current_df["UUID студента"]

df_1_sem_2.loc[df_1_sem_2["UUID студента"].isin(uuid_to_replace), "Тип законченного уч. зав."] = "Военное уч. заведение"

In [103]:
current_df = df_1_sem_2[
    df_1_sem_2["Тип законченного уч. зав."].isin(["Колледж", "Техникум", "Профессиональное училище"]
)]
uuid_to_replace = current_df["UUID студента"]

df_1_sem_2.loc[df_1_sem_2["UUID студента"].isin(uuid_to_replace), "Тип законченного уч. зав."] = "СПО"

In [104]:
df_1_sem_2["Тип законченного уч. зав."].unique()

array(['СПО', 'Школа', 'Профильная Школа', 'Высшее',
       'Военное уч. заведение'], dtype=object)

In [105]:
df_1_sem_2 = df_1_sem_2.drop("Тип документа об образовании", axis=1)

In [106]:
year_of_end = df_1_sem_2["Год окончание уч. зав."]
df_1_sem_2["Год окончание уч. зав."] = 2023 - year_of_end

In [107]:
df_1_sem_2["Год окончание уч. зав."].unique()

array([ 0,  4,  1,  9, 21,  3, 24,  2, 17,  5,  6, 10, 16, 25, 15, 12, 11,
       13,  7, 14,  8, 20, 32, 18, 22, 26, 19, 30, 27])

In [108]:
df_1_sem_2 = df_1_sem_2.rename(columns={"Год окончание уч. зав.": "Прошло лет с окончания уч. заведения"})

In [109]:
df_1_sem_2.head(1)

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Тип олимпиады,Категория конкурса БВИ,Контракт,Форма освоения,...,Лет на момент поступления,Гражданство,Тип законченного уч. зав.,Прошло лет с окончания уч. заведения,Льготы,Новый таргет,Код направления 1,Код направления 3,citizenship_class,FromEkaterinburg
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,NaN,0,0,Очная,...,20.8,Российская Федерация,СПО,0,02 Лица из числа детей-сирот (до 23 лет),Активный,9,4,Russia,0

In [110]:
df_1_sem_2["Льготы"] = df_1_sem_2["Льготы"].fillna("Отсутствует")

In [111]:
current_df = df_1_sem_2[
    df_1_sem_2["Льготы"].isin(["02 Лица из числа детей-сирот (до 23 лет)", "03 Дети, оставшиеся без попечения родителей (до 18 лет)", "05 Лица из числа детей без попечения родителей (до 23 лет)"]
)]
uuid_to_replace = current_df["UUID студента"]

df_1_sem_2.loc[df_1_sem_2["UUID студента"].isin(uuid_to_replace), "Льготы"] = "Сироты"

In [112]:
current_df = df_1_sem_2[
    df_1_sem_2["Льготы"].isin(["04 Дети-инвалиды", "07 Инвалиды с детства", "11 Инвалиды II группы"]
)]
uuid_to_replace = current_df["UUID студента"]

df_1_sem_2.loc[df_1_sem_2["UUID студента"].isin(uuid_to_replace), "Льготы"] = "Инвалиды"

In [113]:
current_df = df_1_sem_2[
    df_1_sem_2["Льготы"].isin([
        "10 Ветераны боевых действий",
        "17 Дети военнослужащих, сотрудников федеральных органов исполнительной власти и федеральных государственных органов, направленных в другие государства",
        "19 Дети лиц, принимавших участие в специальной военной операции на территориях Украины",
        "21 Дети военнослужащих, погибших или получивших увечье при исполнении обязанностей военной службы в специальной военной операции на территориях Украины"]
)]
uuid_to_replace = current_df["UUID студента"]

df_1_sem_2.loc[df_1_sem_2["UUID студента"].isin(uuid_to_replace), "Льготы"] = "Боевые действия"

In [114]:
current_df = df_1_sem_2[
    df_1_sem_2["Льготы"].isin([
        "09 Лица, поступающие по направлению Министерства в пределах квоты, установленной Правительством Российской Федерации"]
)]
uuid_to_replace = current_df["UUID студента"]

df_1_sem_2.loc[df_1_sem_2["UUID студента"].isin(uuid_to_replace), "Льготы"] = "Квота для иностранных граждан"

In [115]:
df_1_sem_2["Льготы"].unique()

array(['Сироты', 'Отсутствует', 'Инвалиды', 'Боевые действия',
       'Квота для иностранных граждан'], dtype=object)

In [116]:
df_1_sem_2["Тип олимпиады"] = df_1_sem_2["Тип олимпиады"].fillna("Отсутствует")

In [117]:
df_1_sem_2.describe()

,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Категория конкурса БВИ,Контракт,Нуждается в общежитии,Иностранный абитуриент (МОН),Пол,Лет на момент поступления,Прошло лет с окончания уч. заведения,Код направления 1,Код направления 3,FromEkaterinburg
count,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000,2281.000000
mean,1.501973,173.385357,0.021920,1.987725,0.010522,0.322227,0.352915,0.010960,0.804033,21.094279,1.350285,10.377028,2.270057,0.301622
std,1.037930,74.741315,0.146455,3.295908,0.102057,0.467432,0.477981,0.104138,0.397030,5.164883,3.677642,4.188736,1.279330,0.459063
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.950000,0.000000,9.000000,1.000000,0.000000
25%,1.000000,90.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,18.100000,0.000000,9.000000,1.000000,0.000000
50%,1.000000,200.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,18.630000,0.000000,9.000000,2.000000,0.000000
75%,2.000000,238.000000,0.000000,3.000000,0.000000,1.000000,1.000000,0.000000,1.000000,22.150000,1.000000,10.000000,4.000000,1.000000
max,10.000000,287.000000,1.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,56.650000,32.000000,29.000000,4.000000,1.000000

In [118]:
df_1_sem_2.isna().sum()

UUID студента                           0
Приоритет                               0
Cумма баллов испытаний                  0
БВИ                                     0
Балл за инд. достижения                 0
Вид конкурса                            0
Тип олимпиады                           0
Категория конкурса БВИ                  0
Контракт                                0
Форма освоения                          0
Уровень подготовки                      0
Нуждается в общежитии                   0
Иностранный абитуриент (МОН)            0
Пол                                     0
Лет на момент поступления               0
Гражданство                             0
Тип законченного уч. зав.               0
Прошло лет с окончания уч. заведения    0
Льготы                                  0
Новый таргет                            0
Код направления 1                       0
Код направления 3                       0
citizenship_class                       0
FromEkaterinburg                        0
dtype: int64

In [119]:
country = df_1_sem_2["Гражданство"].unique().tolist()

In [120]:
country.sort()

In [121]:
country

['Арабская Республика Египет',
 'Габонская Республика',
 'Йеменская Республика',
 'Киргизская Республика',
 'Китайская Народная Республика',
 'Королевство Марокко',
 'Народная Республика Бангладеш',
 'Республика Азербайджан',
 'Республика Армения',
 'Республика Беларусь',
 'Республика Гаити',
 'Республика Индонезия',
 'Республика Ирак',
 'Республика Казахстан',
 'Республика Камерун',
 'Республика Колумбия',
 "Республика Кот д'Ивуар",
 'Республика Куба',
 'Республика Молдова',
 'Республика Перу',
 'Республика Судан',
 'Республика Таджикистан',
 'Республика Узбекистан',
 'Российская Федерация',
 'Сирийская Арабская Республика',
 'Социалистическая Республика Вьетнам',
 'Турецкая Республика',
 'Туркменистан',
 'Украина',
 'Федеративная Демократическая Республика Эфиопия',
 'Федеративная Республика Бразилия',
 'Федеративная Республика Германия',
 'Федеративная Республика Нигерия']

In [122]:
HDI_dict = {
    'Арабская Республика Египет': 0.731,
    'Габонская Республика': 0.706,
    'Йеменская Республика': 0.455,
    'Киргизская Республика': 0.692,
    'Китайская Народная Республика': 0.768,
    'Королевство Марокко': 0.683,
    'Народная Республика Бангладеш': 0.661,
    'Республика Азербайджан': 0.745,
    'Республика Армения': 0.759,
    'Республика Беларусь': 0.808,
    'Республика Гаити': 0.535,
    'Республика Индонезия': 0.705,
    'Республика Ирак': 0.686,
    'Республика Казахстан': 0.811,
    'Республика Камерун': 0.576,
    'Республика Колумбия': 0.752,
    "Республика Кот д'Ивуар": 0.550,
    'Республика Куба': 0.764,
    'Республика Молдова': 0.767,
    'Республика Перу': 0.762,
    'Республика Судан': 0.508,
    'Республика Таджикистан': 0.685,
    'Республика Узбекистан': 0.727,
    'Российская Федерация': 0.822,
    'Сирийская Арабская Республика': 0.577,
    'Социалистическая Республика Вьетнам': 0.703,
    'Турецкая Республика': 0.838,
    'Туркменистан': 0.745,
    'Украина': 0.773,
    'Федеративная Демократическая Республика Эфиопия': 0.498,
    'Федеративная Республика Бразилия': 0.754,
    'Федеративная Республика Германия': 0.942,
    'Федеративная Республика Нигерия': 0.535
}

In [123]:
HDI_lst = []
country = df_1_sem_2["Гражданство"].tolist()

for current_country in country:
    HDI_lst.append(HDI_dict.get(current_country))

In [124]:
len(HDI_lst)

2281

In [125]:
HDI_series = pd.Series(HDI_lst)

In [126]:
HDI_series.unique()

array([0.822, 0.455, 0.811, 0.768, 0.731, 0.727, 0.685, 0.762, 0.683,
       0.686, 0.498, 0.764, 0.705, 0.706, 0.577, 0.838, 0.767, 0.576,
       0.661, 0.745, 0.773, 0.55 , 0.535, 0.703, 0.692, 0.508, 0.808,
       0.759, 0.752, 0.754, 0.942])

In [127]:
df_1_sem_2["Human Development Index"] = HDI_series

In [128]:
df_1_sem_2.shape

(2281, 25)

In [129]:
df_1_sem_2.head(1)

,UUID студента,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Тип олимпиады,Категория конкурса БВИ,Контракт,Форма освоения,...,Гражданство,Тип законченного уч. зав.,Прошло лет с окончания уч. заведения,Льготы,Новый таргет,Код направления 1,Код направления 3,citizenship_class,FromEkaterinburg,Human Development Index
0,studen195e3pg0000ok22fnqsr14o7ek,1,205,0,0,Особая квота,Отсутствует,0,0,Очная,...,Российская Федерация,СПО,0,Сироты,Активный,9,4,Russia,0,0.822

In [130]:
df_1_sem_2.to_csv('../../data/datasets/dataset_1sem_5.csv', sep=';', index=False, encoding='utf-8-sig')

In [131]:
df_1_sem_5 = pd.read_csv('../../data/datasets/dataset_1sem_5.csv', sep=';', encoding='utf-8-sig', low_memory=False)

In [132]:
df_1_sem_5["Лет на момент поступления"].head(10)

0    20.80
1    22.10
2    18.33
3    18.07
4    32.07
5    18.21
6    18.33
7    18.50
8    18.02
9    17.61
Name: Лет на момент поступления, dtype: float64

In [133]:
df_1_sem_5.to_csv('../../data/datasets/dataset_1sem_5.csv', index=False, sep=';', encoding='utf-8-sig')

In [134]:
df_1_sem_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2281 entries, 0 to 2280
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   UUID студента                         2281 non-null   object
 1   Приоритет                             2281 non-null   int64
 2   Cумма баллов испытаний                2281 non-null   int64
 3   БВИ                                   2281 non-null   int64
 4   Балл за инд. достижения               2281 non-null   int64
 5   Вид конкурса                          2281 non-null   object
 6   Тип олимпиады                         2281 non-null   object
 7   Категория конкурса БВИ                2281 non-null   int64
 8   Контракт                              2281 non-null   int64
 9   Форма освоения                        2281 non-null   object
 10  Уровень подготовки                    2281 non-null   object
 11  Нуждается в общежитии                 2281 non-null   int64
 12  Иностранный абитуриент (МОН)          2281 non-null   int64
 13  Пол                                   2281 non-null   int64
 14  Лет на момент поступления             2281 non-null   float64
 15  Гражданство                           2281 non-null   object
 16  Тип законченного уч. зав.             2281 non-null   object
 17  Прошло лет с окончания уч. заведения  2281 non-null   int64
 18  Льготы                                2281 non-null   object
 19  Новый таргет                          2281 non-null   object
 20  Код направления 1                     2281 non-null   int64
 21  Код направления 3                     2281 non-null   int64
 22  citizenship_class                     2281 non-null   object
 23  FromEkaterinburg                      2281 non-null   int64
 24  Human Development Index               2281 non-null   float64
dtypes: float64(2), int64(13), object(10)
memory usage: 445.6+ KB

In [135]:
df_1_sem_5["Лет на момент поступления2"] = df_1_sem_5["Лет на момент поступления"].astype(float)

In [136]:
df_1_sem_5["Полных лет на момент поступления2"] = df_1_sem_5["Лет на момент поступления"].astype(int)
df_1_sem_5 = df_1_sem_5.drop(columns=["Лет на момент поступления2", "Лет на момент поступления"], axis=1)

In [137]:
df_1_sem_5.iloc[:,7:].head(1)

,Категория конкурса БВИ,Контракт,Форма освоения,Уровень подготовки,Нуждается в общежитии,Иностранный абитуриент (МОН),Пол,Гражданство,Тип законченного уч. зав.,Прошло лет с окончания уч. заведения,Льготы,Новый таргет,Код направления 1,Код направления 3,citizenship_class,FromEkaterinburg,Human Development Index,Полных лет на момент поступления2
0,0,0,Очная,Бакалавр,0,0,1,Российская Федерация,СПО,0,Сироты,Активный,9,4,Russia,0,0.822,20

In [138]:
df_1_sem_5 = df_1_sem_5.rename(columns={"Полных лет на момент поступления2": "Полных лет на момент поступления"})

In [139]:
df_1_sem_5.to_csv('../../data/datasets/dataset_1sem_5.csv', index=False, sep=';', encoding='utf-8-sig')

In [140]:
df_1_sem_6 = pd.read_csv('../../data/datasets/dataset_1sem_5.csv', sep=';', encoding='utf-8-sig', low_memory=False)

In [141]:
df_1_sem_6 = df_1_sem_6.drop(columns=["UUID студента", "Гражданство"])

In [142]:
dummies = pd.get_dummies(df_1_sem_6["Вид конкурса"])
dummies = dummies.drop("Основные места", axis=1)
dummies = dummies.astype(int)

In [143]:
dummies.head()

   Особая квота  Отдельная квота  Целевая квота
0             1                0              0
1             0                0              0
2             0                0              0
3             0                0              1
4             0                0              0

In [144]:
df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [145]:
dummies = pd.get_dummies(df_1_sem_6["Тип олимпиады"])
dummies = dummies.drop("Отсутствует", axis=1)
dummies = dummies.astype(int)

df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [146]:
df_1_sem_6.head()

,Приоритет,Cумма баллов испытаний,БВИ,Балл за инд. достижения,Вид конкурса,Тип олимпиады,Категория конкурса БВИ,Контракт,Форма освоения,Уровень подготовки,...,Код направления 3,citizenship_class,FromEkaterinburg,Human Development Index,Полных лет на момент поступления,Особая квота,Отдельная квота,Целевая квота,всероссийская олимпиада школьников (ВОШ),"олимпиада из перечня, утвержденного МОН РФ (ОШ)"
0,1,205,0,0,Особая квота,Отсутствует,0,0,Очная,Бакалавр,...,4,Russia,0,0.822,20,1,0,0,0,0
1,1,0,1,0,Основные места,Отсутствует,1,0,Очная,Бакалавр,...,4,others,0,0.455,22,0,0,0,0,0
2,1,181,0,0,Основные места,Отсутствует,0,1,Очная,Специалист,...,4,Russia,1,0.822,18,0,0,0,0,0
3,5,236,0,0,Целевая квота,Отсутствует,0,0,Очная,Бакалавр,...,4,Russia,0,0.822,18,0,0,1,0,0
4,1,222,0,0,Основные места,Отсутствует,0,1,Заочная,Бакалавр,...,1,Russia,1,0.822,32,0,0,0,0,0

In [147]:
dummies = pd.get_dummies(df_1_sem_6["Форма освоения"])
dummies = dummies.drop("Очная", axis=1)
dummies = dummies.astype(int)

df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [148]:
dummies = pd.get_dummies(df_1_sem_6["Уровень подготовки"])
dummies = dummies.drop("Бакалавр", axis=1)
dummies = dummies.astype(int)

df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [149]:
dummies = pd.get_dummies(df_1_sem_6["Тип законченного уч. зав."])
dummies = dummies.drop("Школа", axis=1)
dummies = dummies.astype(int)

df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [150]:
dummies = pd.get_dummies(df_1_sem_6["Льготы"])
dummies = dummies.drop("Отсутствует", axis=1)
dummies = dummies.astype(int)

df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [151]:
dummies = pd.get_dummies(df_1_sem_6["citizenship_class"])
dummies = dummies.drop("Russia", axis=1)
dummies = dummies.astype(int)

df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [152]:
dummies = pd.get_dummies(df_1_sem_6["Код направления 1"])
dummies = dummies.drop(9, axis=1)
dummies = dummies.rename(columns={10: "Код направления 1: 10"})
dummies = dummies.rename(columns={11: "Код направления 1: 11"})
dummies = dummies.rename(columns={27: "Код направления 1: 27"})
dummies = dummies.rename(columns={29: "Код направления 1: 29"})
dummies = dummies.astype(int)

df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [153]:
dummies = pd.get_dummies(df_1_sem_6["Код направления 3"])
dummies = dummies.drop(1, axis=1)
dummies = dummies.rename(columns={2: "Код направления 3: 2"})
dummies = dummies.rename(columns={3: "Код направления 3: 3"})
dummies = dummies.rename(columns={4: "Код направления 3: 4"})
dummies = dummies.astype(int)

df_1_sem_6 = df_1_sem_6.join(dummies, how='left')

In [154]:
df_1_sem_6 = df_1_sem_6.drop(columns=["Тип олимпиады", "Вид конкурса", "Форма освоения", "Уровень подготовки", "Тип законченного уч. зав.", "Льготы", "citizenship_class", "Код направления 1", "Код направления 3"])

In [155]:
df_1_sem_6.isna().sum()

Приоритет                                          0
Cумма баллов испытаний                             0
БВИ                                                0
Балл за инд. достижения                            0
Категория конкурса БВИ                             0
Контракт                                           0
Нуждается в общежитии                              0
Иностранный абитуриент (МОН)                       0
Пол                                                0
Прошло лет с окончания уч. заведения               0
Новый таргет                                       0
FromEkaterinburg                                   0
Human Development Index                            0
Полных лет на момент поступления                   0
Особая квота                                       0
Отдельная квота                                    0
Целевая квота                                      0
всероссийская олимпиада школьников (ВОШ)           0
олимпиада из перечня, утвержденного МОН РФ (ОШ)    0
Заочная                                            0
Очно-заочная                                       0
Магистр                                            0
Специалист                                         0
Военное уч. заведение                              0
Высшее                                             0
Профильная Школа                                   0
СПО                                                0
Боевые действия                                    0
Инвалиды                                           0
Квота для иностранных граждан                      0
Сироты                                             0
PostSoviet                                         0
others                                             0
Код направления 1: 10                              0
Код направления 1: 11                              0
Код направления 1: 27                              0
Код направления 1: 29                              0
Код направления 3: 2                               0
Код направления 3: 3                               0
Код направления 3: 4                               0
dtype: int64

In [156]:
mask = df_1_sem_6["Новый таргет"].isin(["Отп.акад.", "Отп.б.посещ.", "Отчислен"])
df_1_sem_6.loc[mask, "Новый таргет"] = "1"

In [157]:
mask = df_1_sem_6["Новый таргет"].isin(["Активный", "Зак. с дипломом"])
df_1_sem_6.loc[mask, "Новый таргет"] = "0"

In [158]:
df_1_sem_6["Новый таргет"].unique()

array(['0', '1'], dtype=object)

In [159]:
df_1_sem_6["Новый таргет"] = df_1_sem_6["Новый таргет"].astype(int)

In [160]:
df_1_sem_6 = df_1_sem_6.rename(columns={"Новый таргет": "Таргет"})

In [161]:
df_1_sem_6.to_csv('../../data/datasets/dataset_1sem_final.csv', index=False, sep=';', encoding='utf-8-sig')

In [162]:
# Магистры
df_magistr = df_1_sem_6[df_1_sem_6["Магистр"] == 1].copy()
df_magistr.drop(columns=["Магистр", "Специалист"], inplace=True)

# Специалисты и бакалавры
df_spec_bak = df_1_sem_6[
    (df_1_sem_6["Специалист"] == 1) | ((df_1_sem_6["Специалист"] == 0) & (df_1_sem_6["Магистр"] == 0))
].copy()
df_spec_bak.drop(columns=["Магистр"], inplace=True)

In [164]:
df_spec_bak.to_csv('../../data/datasets/1st_course_bak_spec.csv', index=False, sep=';', encoding='utf-8-sig')
df_magistr.to_csv('../../data/datasets/1st_course_magistr.csv', index=False, sep=';', encoding='utf-8-sig')